{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# -- Taxonomy Topic -- #}
{# ---------------------------------------------------------------------- #}

{% extends '_layouts/_master.html' %}
{% set bodyClass = 'p-taxonomy' %}
{#{% set seomaticMeta = seomaticMeta | merge({'seoTitle': category.group().name ~ ': ' ~ category }) %}#}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- Set Query -- #}
{% set entries = craft.entries({
  section: 'articles',
  relatedTo: craft.categories.slug(category.slug),
  limit: 12
}) %}

{% paginate entries as pageInfo, pageEntries %}

{# -- start: Rel Nav -- #}
{% block siteHeader %}
  {% include '_partials/header/_siteHeaderLinks.html' with {
    pageInfo: pageInfo
  } only %}
{% endblock %}

{# -- App Content -- #}
{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key category.group().handle ~ '-' ~ category.id ~ '-' ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}

    {% embed '_embeds/oneColumn/_template.html' with {
      opt: {
        intro: true,
        content: true
      },
      category: category,
      pageEntries: pageEntries,
      pageInfo: pageInfo
    } only %}

      {# -- Block: Intro -- #}
      {% block intro %}
        {# -- Include Page Title -- #}
        {% include '_molecules/pageTitle/_template.html' with {
          opt: {
            object: category,
            size: 'h1'
          }
        } only %}

        {# -- Entry Intro -- #}
        {% if category.entryIntroText ?? null %}
          {% include '_atoms/richText/_template.html' with {
            opt: {
              text: category.entryIntroText
            }
          } only %}
        {% endif %}

        {# -- Image Entry -- #}
        {% if category.entryImage.one() ?? null %}
          {% include '_atoms/headline/_template.html' with {
            opt: {
              text: 'Image Entry',
              size: 'h3'
            }
          } only %}

          {% include '_organisms/imageSingle/_template.html' with {
            opt: {
              image: category.entryImage.one() ?? null,
              ratio: 'landscape'
            }
          } only %}
        {% endif %}
      {% endblock %}

      {# -- Block: Content -- #}
      {% block content %}
        {# -- Cards --#}
        {% include '_organisms/cards/_template.html' with {
          opt: {
            items: pageEntries,
            pageInfo: pageInfo,
            pagination: true,
            paginationSimple: true
          }
        } only %}
      {% endblock %}
    {% endembed %}

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
