/* -------------------------------------------------- */
/*    .m-svgSprite
/* -------------------------------------------------- */

.m-svgSprite {
  width: 100%;
  height: 100%;
  max-width: 64px;
  max-height: 64px;
}
