{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  o-appHeader
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'o-appHeader',
  modifiers: [],
  customClasses: [],
  data: {},
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
<header class="{{ opt.cn }}
            {% for modifier in opt.modifiers %}
              {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
            {% endfor %}
            {% for customClass in opt.customClasses %}
              {{ customClass | length ? '  ' ~ customClass }}
            {% endfor %}  {{ opt.cn|replace({ 'o-' : 'js-' }) }}">
  {% cache %}
    {% block appHeader %}
      {% include '_atoms/logo/_template.html' with {
          opt: {
              modifiers: [
                'header'
              ],
              url: currentSite.baseUrl
          }
      } %}

    {% endblock %}
  {% endcache %}
</header>

