/*
 |--------------------------------------------------------------------------
 |  a-label
 |--------------------------------------------------------------------------
 */

// Modul
.a-label {
  $root: &;
  @include make-vr();
  width: 100%;
  display: inline-block;
  font-size: ms(-1);
  text-transform: uppercase;

  @include wf('sans-serif');
}

// Modul Modifiers Example
.a-label--modifier {
  .a-label__block {
    // Styles here
  }
}
