/*
 |--------------------------------------------------------------------------
 |  a-label
 |--------------------------------------------------------------------------
 */

// Modul
.a-label {
  $root: &;
  @include make-vr();
  font-size: ms(-1);

  &__label {
    display: inline-block;
    text-transform: uppercase;

    @include wf('sans-serif');
  }
}

// Modul Modifiers Example
.a-label--modifier {
  .a-label__block {
    // Styles here
  }
}
