{#
  Content Toggle
  ==============
#}

{# -- Set Defaults -- #}
{% set defaults = {
  classname: 'o-toggleContent',
  contentTop: null,
  contentBottom: null,
  textClosed: 'closed',
  textOpen: 'open'
} %}

{% if options is defined %}
    {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
    {% set options = defaults %}
{% endif %}

{# -- Modul -- #}
{% if options.contentTop or options.contentBottom %}
  <div class="o-col  {{ options.classname }}">

    {# -- Content Top -- #}
    {% if options.contentTop %}
      <div class="o-row  {{ options.classname ~ '__content' }}  {{ options.classname ~ '__content--top' }}">
        {% block contentTop %}
            Content Top
        {% endblock %}
      </div>
    {% endif %}

    {# -- Trigger -- #}
    <div class="{{ options.classname ~ '__trigger' }}
                {{ options.contentTop ? options.classname ~ '__trigger--top' : options.classname ~ '__trigger--bottom' }}
                {{ options.contentTop ? 'js-toggleContent--top' : 'js-toggleContent' }}"
          data-text-closed="{{ options.textClosed }}"
          data-text-open="{{ options.textOpen }}">
      <span class="js-textHolder">{{ options.textClosed }}</span>
    </div>

    {# -- Content -- #}
    {% if options.contentBottom %}
      <div class="o-row  {{ options.classname ~ '__content' }}  {{ options.classname ~ '__content--bottom' }}">
        {% block contentBottom %}
            Content Bottom
        {% endblock %}
      </div>
    {% endif %}

  </div>
{% endif %}

