/* -------------------------------------------------- */
/*    .m-radio
/* -------------------------------------------------- */

.m-radio {
  $root: &;
  @include make-vr(1/2);

  &__inner {
    // empty
  }

  &__label {
    padding-right: s(1);
    padding-left: s(3);
    height: s(6);
    line-height: s(6);
    display: block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: 1px solid c('black', '40');
    border-radius: 3px;
    font-size: fs('ms0');
    transition: all 0.25s ease('out-cubic');

    &::before {
      content: '';
      position: absolute;
      left: s(1);
      top: 50%;
      width: s(1);
      height: s(1);
      transform: translateY(-50%);
      background-color: c('white');
      border: 1px solid c('black', '40');
      border-radius: 100%;
      transition: all 0.25s ease('out-cubic');
    }
  }

  &__input:checked ~ label {
    color: c('white');
    background-color: c('black', '90');
    border: 1px solid c('black', '90');

    &::before {
      background-color: c('green');
      border: 1px solid c('green');
    }
  }

  &__input:disabled ~ label {
    cursor: not-allowed;
    color: c('black', '10');
    border-color: c('black', '10');

    &::before {
      background-color: c('white');
      border: 1px solid c('black', '10');
    }
  }

  &__input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}
