/* -------------------------------------------------- */
/*    .m-radio
/* -------------------------------------------------- */

.m-radio {
  $root: &;

  &__label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &::before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: c('black', '20');
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &::after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid c('black', '20');
      background-color: c('white');
      background-image: url('data:image/svg+xml,%3Csvg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z" fill="%23fff" fill-rule="nonzero"/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  &__input:checked ~ label {
    color: c('white');

    &::before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &::after {
      background-color: c('black');
      border-color: c('black');
    }
  }

  &__input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}
