/* -------------------------------------------------- */
/*    Definition List
/* -------------------------------------------------- */

.m-definitionList {
  $root: &;
  @include f(s(2), s(4), padding-left padding-right);

  &__inner {
    @include make-row();
    @include make-vr();
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    border-top: 0;
    font-size: fs('ms-1');
    border: 1px solid c('black', '25');
    border-bottom: 0;
  }

  &__listTerm {
    @include f(s(1), s(2), padding-top padding-bottom);
    border-bottom: 1px dotted c('black', '25');
    background-color: c('black', '05');
    border-right: 0;
    @include make-col(6);
    font-weight: 700;

    @include media('>=m') {
      border-right: 1px dotted c('black', '25');
      border-bottom: 1px solid c('black', '25');
    }
  }

  &__listDescription {
    @include f(s(1), s(2), padding-top padding-bottom);
    @include make-col(6);
    border-bottom: 1px solid c('black', '25');
  }

  // Row Layout
  &--layout-row {
    #{$root}__listTerm {
      @include make-col(12);
    }

    #{$root}__listDescription {
      @include make-col(12);
    }
  }

  // Table Layout
  &--layout-table#{$root}--ratio-50-50 {
    #{$root}__listTerm {
      @include make-col(12);

      @include media('>=m') {
        @include make-col(6);
      }
    }

    #{$root}__listDescription {
      @include make-col(12);

      @include media('>=m') {
        @include make-col(6);
      }
    }
  }

  // 33-66
  &--layout-table#{$root}--ratio-33-66 {
    #{$root}__listTerm {
      @include make-col(12);

      @include media('>=m') {
        @include make-col(4);
      }
    }

    #{$root}__listDescription {
      @include make-col(12);

      @include media('>=m') {
        @include make-col(8);
      }
    }
  }

  // 25-75
  &--layout-table#{$root}--ratio-25-75 {
    #{$root}__listTerm {
      @include make-col(12);

      @include media('>=m') {
        @include make-col(3);
      }
    }

    #{$root}__listDescription {
      @include make-col(12);

      @include media('>=m') {
        @include make-col(9);
      }
    }
  }
}
