/* -------------------------------------------------- */
/*    Embed
/* -------------------------------------------------- */

.m-embed {
  $root: &;
  @include make-col(12);

  &__inner {
    width: 100%;
    @include make-vr();
  }

  &--width-100 {
    @include media('>=m') {
      @include make-col(12);
    }
  }

  &--width-75 {
    @include media('>=m') {
      @include make-col(9);
    }
  }

  &--width-50 {
    @include media('>=m') {
      @include make-col(6);
    }
  }

  &--align-left {
    margin-right: auto;
  }

  &--align-right {
    margin-left: auto;
  }

  &--align-center {
    margin-left: auto;
    margin-right: auto;
  }

  /* stylelint-disable */
  // Fix Margin Bottom Gist File
  .gist .gist-file {
    margin-bottom: 0;
  }
  /* stylelint-enable */
}
