{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  a-image
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-image',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  image: null,
  ratio: null,
  dominantColor: true,
  objectFit: null,
  maxWidth: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.image %}
  {# -- Image Vars -- #}
  {% set imageSrc = opt.image.pluginOptimizedImagesAuto.src() %}
  {% set imageSrcset = opt.image.pluginOptimizedImagesAuto.srcset() %}
  {% set imageSrcsetWebP = opt.image.pluginOptimizedImagesAuto.srcsetWebP() %}
  {% set imageSrcsetMaxWidth = opt.image.pluginOptimizedImagesAuto.srcsetMaxWidth(opt.maxWidth | default(2560)) %}
  {% set imageSrcsetMaxWidthWebP = opt.image.pluginOptimizedImagesAuto.srcsetMaxWidthWebP(opt.maxWidth | default(2560)) %}
  {% set imagePlaceholderBox = opt.image.pluginOptimizedImagesAuto.placeholderBox() %}
  {% set imageMaxWidth = opt.image.pluginOptimizedImagesAuto.maxSrcsetWidth() %}
  {% set focalpoint = '50% 50%' %}

  {# -- Focal Point -- #}
  {% if opt.objectFit and opt.image.focalpoint %}
    {% set focalpoint = opt.image.getFocalpoint('asCss') %}
  {% endif %}

  {# -- Ratio Switch -- #}
  {% if opt.ratio ?? null %}
    {% set ratio = opt.ratio %}
    {% if opt.ratio.value ?? null %}
      {% set ratio = opt.ratio.value %}
    {% endif %}

    {% switch ratio %}
    {% case "landscape" %}
      {% set imageSrc = opt.image.pluginOptimizedImagesLandscape.src() %}
      {% set imageSrcset = opt.image.pluginOptimizedImagesLandscape.srcset() %}
      {% set imageSrcsetWebP = opt.image.pluginOptimizedImagesLandscape.srcsetWebP() %}
      {% if opt.maxWidth %}
        {% set imageSrcsetMaxWidth = opt.image.pluginOptimizedImagesLandscape.srcsetMaxWidth(opt.maxWidth) %}
        {% set imageSrcsetMaxWidthWebP = opt.image.pluginOptimizedImagesLandscape.srcsetMaxWidthWebP(opt.maxWidth) %}
      {% endif %}
      {% set imagePlaceholderBox = opt.image.pluginOptimizedImagesLandscape.placeholderBox() %}
      {% set imageMaxWidth = opt.image.pluginOptimizedImagesLandscape.maxSrcsetWidth() %}

    {% case "portrait" %}
      {% set imageSrc = opt.image.pluginOptimizedImagesPortrait.src() %}
      {% set imageSrcset = opt.image.pluginOptimizedImagesPortrait.srcset() %}
      {% set imageSrcsetWebP = opt.image.pluginOptimizedImagesPortrait.srcsetWebP() %}
      {% if opt.maxWidth %}
        {% set imageSrcsetMaxWidth = opt.image.pluginOptimizedImagesPortrait.srcsetMaxWidth(opt.maxWidth) %}
        {% set imageSrcsetMaxWidthWebP = opt.image.pluginOptimizedImagesPortrait.srcsetMaxWidthWebP(opt.maxWidth) %}
      {% endif %}
      {% set imagePlaceholderBox = opt.image.pluginOptimizedImagesPortrait.placeholderBox() %}
      {% set imageMaxWidth = opt.image.pluginOptimizedImagesPortrait.maxSrcsetWidth() %}

    {% case "square" %}
      {% set imageSrc = opt.image.pluginOptimizedImagesSquare.src() %}
      {% set imageSrcset = opt.image.pluginOptimizedImagesSquare.srcset() %}
      {% set imageSrcsetWebP = opt.image.pluginOptimizedImagesSquare.srcsetWebP() %}
      {% if opt.maxWidth %}
        {% set imageSrcsetMaxWidth = opt.image.pluginOptimizedImagesSquare.srcsetMaxWidth(opt.maxWidth) %}
        {% set imageSrcsetMaxWidthWebP = opt.image.pluginOptimizedImagesSquare.srcsetMaxWidthWebP(opt.maxWidth) %}
      {% endif %}
      {% set imagePlaceholderBox = opt.image.pluginOptimizedImagesSquare.placeholderBox() %}
      {% set imageMaxWidth = opt.image.pluginOptimizedImagesSquare.maxSrcsetWidth() %}

    {% default %}
      {% set imageSrc = opt.image.pluginOptimizedImagesAuto.src() %}
      {% set imageSrcset = opt.image.pluginOptimizedImagesAuto.srcset() %}
      {% set imageSrcsetWebP = opt.image.pluginOptimizedImagesAuto.srcsetWebP() %}
      {% if opt.maxWidth %}
        {% set imageSrcsetMaxWidth = opt.image.pluginOptimizedImagesAuto.srcsetMaxWidth(opt.maxWidth) %}
        {% set imageSrcsetMaxWidthWebP = opt.image.pluginOptimizedImagesAuto.srcsetMaxWidthWebP(opt.maxWidth) %}
      {% endif %}
      {% set imagePlaceholderBox = opt.image.pluginOptimizedImagesAuto.placeholderBox() %}
      {% set imageMaxWidth = opt.image.pluginOptimizedImagesAuto.maxSrcsetWidth() %}
    {% endswitch %}
  {% endif %}

  {# -- Image -- #}
  <picture class="{{ opt.cn }}
                  {% for modifier in opt.modifiers %}
                    {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
                  {% endfor %}
                  {% for customClass in opt.customClasses %}
                    {{ customClass | length ? '  ' ~ customClass }}
                  {% endfor %}"
           {% if opt.dominantColor %}style="{{ 'background-color: ' ~ opt.image.pluginOptimizedImagesSquare.colorPalette[0] ?? 'black' }}"{% endif %}>
    <source srcset="{{ imageSrcsetWebP }}"
            sizes="100vw"
            type="image/webp"/>
    <img class="{{ opt.cn ~ '__image' }}  lazyload"
      {% if opt.objectFit %}
        style="object-fit: {{ opt.objectFit }}; object-position: {{ focalpoint }}"
        data-object-fit="{{ opt.objectFit }}"
        data-object-position="{{ focalpoint }}"
      {% endif %}
         src="{{ imagePlaceholderBox }}"
         srcset="{{ imageSrcset }}"
         sizes="100vw"
         width="{{ imageMaxWidth }}"
         height="auto"
         alt="{{ opt.image.title }}"/>
    <noscript><img src="{{ imageSrc }}" alt="{{ opt.image.title }}"></noscript>
  </picture>
{% endif %}
