/* -------------------------------------------------- */
/*    Category Nav
/* -------------------------------------------------- */

.m-navCategories {
  $root: &;

  &__inner {
    @include make-row();
    opacity: 0;
    transition: opacity 0.25s ease('out-cubic');

    &.is-visible {
      opacity: 1;
    }
  }

  /* stylelint-disable */
  .flickity-viewport {
    width: 100%;
    @extend .t-overflowTouch;
    touch-action: pan-y !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  /* stylelint-enable */

  &__slide {
    @include make-vr();
    @include make-col-padding();
    display: inline-block;
    white-space: nowrap;
    font-size: fs('ms-2');
    text-transform: uppercase;

    &::before {
      display: none;
    }

    &.is-active #{$root}__link {
      color: c('black', '90');
      font-weight: 700;
    }
  }

  &__link {
    display: inline-block;

    &::before {
      content: '#';
    }
  }
}
