/* -------------------------------------------------- */
/*    Category Nav
/* -------------------------------------------------- */

.m-navCategories {
  $root: &;
  width: 100%;
  overflow: visible;
  @include make-vr();

  &__inner {
    // empty
  }

  &__slider {
    @include make-row();
  }

  &__slide {
    @include make-vr();
    display: inline-block;
    white-space: nowrap;
    font-size: fs('ms-2');
    text-transform: uppercase;
    @include make-col-padding();
    padding-left: 0 !important;

    &::before {
      display: none;
    }

    &.is-active #{$root}__link {
      color: c('black', '90');
      font-weight: 700;
    }
  }

  &__link {
    display: inline-block;

    &::before {
      content: '#';
    }
  }

  /* stylelint-disable */
  &.no-swiping {
    .swiper-pagination,
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-scrollbar {
      display: none;
    }
  }
  /* stylelint-enable */
}
