{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# -- News Entry Template -- #}
{# ---------------------------------------------------------------------- #}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-articleSingle" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- Rel Nav -- #}
{% block siteHeader %}
  {% include '_partials/header/_siteHeaderLinks--single.html' with {
    section: 'articles',
    order: 'postDate',
    entry: entry
  } only %}
{% endblock %}

{# -- App Content -- #}
{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key craft.app.request.pathInfo %}
<article role="article">
  <div class="o-section">
    <div class="o-row">
      <div class="o-col-12  o-col-s-24">
        {# -- Include Page Title -- #}
        {% include '_molecules/pageTitle/_template.html' with {
          opt: {
            object: entry,
            size: 'h1'
          }
        } only %}
      </div>
    </div>
  </div>

  <div class="o-section">
    {# -- Entry Intro -- #}
    {% if entry.singleIntroText ?? null %}
      <div class="o-row">
        <div class="o-col-12  o-col-s-24">
          {% include '_atoms/richText/_template.html' with {
            opt: {
              text: entry.singleIntroText
            }
          } only %}
        </div>
      </div>
    {% endif %}

    {# -- Entry Image -- #}
    {#<div class="o-row">
      {% include '_organisms/imageSingle/_template.html' with {
        opt: {
          image: entry.singleImageEntry.one()
        }
      } only %}
    </div>#}
  </div>

  {# -- Content Builder -- #}
  {% include '_contentBuilders/_contentBuilderMatrix.html' with {
    opt: {
      object: entry
    }
  } only %}
</article>

<div class="o-section">
  <div class="o-row">
    {# -- Post Nav -- #}
    {% import '_partials/macros/_macro-postNav.html' as macroPostNav %}
    {{ macroPostNav.postNav(entry, {
      section: 'articles',
      prevLabel: 'Prev Article',
      nextLabel: 'Next Article',
      prevIcon: 'iconArrowLeft',
      nextIcon: 'iconArrowRight'
    }) }}
  </div>
</div>

{# -- Cache End -- #}
  {% endcache %}
{% endblock %}
