/* -------------------------------------------------- */
/*    Image Grid
/* -------------------------------------------------- */

.m-imageGrid {
  $root: &;

  &__inner {
    @include make-row();
  }

  &__figure {
    @include make-col();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  .m-image {
    width: 100%;
    height: auto;
  }

  &__caption {
    margin-top: s(1);
  }

  &--columns-3 {
    @include media('>=s') {
      #{$root}__figure {
        @include make-col(4);
      }
    }
  }

  &--columns-2 {
    @include media('>=s') {
      #{$root}__figure {
        @include make-col(6);
      }
    }
  }

  &--columns-1 {
    @include media('>=s') {
      #{$root}__figure {
        @include make-col(12);
      }
    }
  }
}
