{#
  m-figure
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'm-figure',
  modifiers: [],
  data: {},
  js: null,
  waypoint: null,
  waypointAni: null,
  image: null,
  sizes: [
    { width: 1600 },
    { width: 1000 },
    { width: 500 },
    { width: 250 },
    { width: 125 }
  ],
  mode: 'crop',
  position: null,
  ratio: null,
  dominantColor: true,
  caption: null,
  captionHeadline: null,
  captionText: null,
  captionSource: null,
  captionSourceUrl: null,
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Macros -- #}
{% import '_partials/macros/_macro-dominantColor.html' as macroDominantColor %}

{# -- Modul -- #}
{% if opt.image %}
  <figure class="{{- opt.cn -}}
              {% for modifier in opt.modifiers %}
                {{- modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier -}}
              {% endfor %}  {{- opt.js ? '  ' ~ opt.cn|replace({ 'm-' : 'js-' }) : '' -}}
              {{- opt.waypointAni ? '  ' ~ opt.waypointAni : '' -}}"
              {{- opt.waypoint ? '  data-waypoint' : '' -}}
              {% for key, value in opt.data %}
                {{- '  data-' ~ key ~ '=' ~ value -}}
              {% endfor %}
          itemprop="associatedMedia"
          itemscope itemtype="http://schema.org/ImageObject">

    {# -- Dominant Color -- #}
    {% if opt.dominantColor %}
      <div class="{{ opt.cn ~ '__dominantColor' }}"
           style="{{ macroDominantColor.dominantColor(opt.image) }}">
    {% endif %}

      {# -- image -- #}
      {% include '_atoms/image/_template.html' with {
          opt: {
            image: opt.image,
            sizes: opt.sizes,
            mode: opt.mode,
            position: opt.position,
            ratio: opt.ratio
          }
      } only %}

    {# -- Dominant Color -- #}
    {% if opt.dominantColor %}
      </div>
    {% endif %}

    {# -- caption -- #}
    {% if opt.caption %}
      {% include '_molecules/caption/_template.html' with {
        opt: {
          headline: opt.captionHeadline ?? null,
          text: opt.captionText ?? null,
          source: opt.captionSource ?? null,
          sourceUrl: opt.captionSourceUrl ?? null
        }
      } only %}
    {% endif %}
  </figure>
{% endif %}
