{#
  a-image
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'a-image',
  modifiers: [],
  data: {},
  js: null,
  waypoint: null,
  waypointAni: null,
  image: null,
  sizes: [
    { width: 1600 },
    { width: 1000 },
    { width: 500 },
    { width: 250 },
    { width: 125 }
  ],
  mode: 'crop',
  position: null,
  ratio: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.image %}
  {# -- Check if External Source -- #}
  {% set externalSource = opt.image starts with 'http' ? true : false %}

  {# -- Ratio -- #}
  {% if opt.ratio %}
    {% set ratio = opt.ratio|split(':') %}
    {% set ratio = ratio|first/ratio|last %}
  {% else %}
    {% set ratio = '' %}
  {% endif %}

  {# -- Set Position -- #}
  {% if opt.position %}
    {% set position = opt.position %}
  {% elseif opt.image.settingsFocalPoint is defined and not externalSource %}
    {% set position = opt.image.settingsFocalPoint %}
  {% else %}
    {% set position = '50% 50%' %}
  {% endif %}

  {# -- Image Settings -- #}
  {% set imageSettings = {
    mode: opt.mode,
    position: position,
    ratio: ratio
  } %}

  {# -- Image -- #}
  {% set images = craft.imager.transformImage(opt.image, opt.sizes, imageSettings) %}

  {# -- External Source --#}
  {# Reset the Base64 Size to the First Image Dimensions  #}
  {% set base64Ratio = images|first.width ~ ':' ~ images|first.height %}
  {% set base64Ratio = base64Ratio|split(':') %}

  {# -- SRC Set -- #}
  {% set srcset = craft.imager.srcset(images) %}

  {# -- Image -- #}
  <img class="{{ opt.cn }}  lazyload"
       src="{{ craft.imager.base64Pixel(base64Ratio|first, base64Ratio|last) }}"
       data-srcset="{{ srcset }}"
       data-sizes="100vw"
       alt="{{ externalSource ? 'Image' : opt.image.title }}"/>
  <noscript><img src="{{ externalSource ? opt.image : opt.image.url }}"
                 alt="{{ externalSource ? 'Image' : opt.image.title }}"></noscript>
{% endif %}
