<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if templateOptions is defined %}
      [{{ templateOptions.status }}]
      {{ templateOptions.title }}
      &mdash;
    {% endif %}{{ siteName }}
  </title>

  {# -- CRITICAL CSS -- #}
  {% set cacheVal = getCookie('critical-css') %}
  {% if not cacheVal or craft.app.config.general.devMode %}
    {{ setCookie('critical-css', now | date_modify("+7 days").timestamp ) }}
    {% block appInlineCSS %}
    {% endblock %}
  {% endif %}

  {% include '_partials/webpack/webpack-header.html' %}
</head>
<body>
<div class="o-appWrapper">
  {# Render Pattern Lib Content #}
  {% include component with {
    opt: templateOptions | default([])
  } %}

  {% include '_partials/webpack/webpack-scripts.html' %}
</div>
</body>
</html>
