{#
  Master Layout
  --------------------------------------------------

  This i the basic layout. Feel free to modify
#}

{% set rootUrl = siteUrl %}

{# Include Macros #}
{# -- All Macros --
{% import '_macros/_macro-amNav.html' as macroAmNav %}
{% import '_macros/_macro-bgImage.html' as macroBgImage %}
{% import '_macros/_macro-image.html' as macroImage %}
{% import '_macros/_macro-isActive.html' as macroIsActive %}
{% import '_macros/_macro-niceTime.html' as macroNiceTime %}
{% import '_macros/_macro-pagination.html' as macroPagination %}
{% import '_macros/_macro-paginationSimple.html' as macroPaginationSimple %}
{% import '_macros/_macro-postNav.html' as macroPostNav %}
{% import '_macros/_macro-socialLinks.html' as macroSocialLinks %}
{% import '_macros/_macro-srcset.html' as macroSrcset %}
{% import '_macros/_macro-svgSprite.html' as macroSvgSprite %}
#}

<!DOCTYPE html>
<html class="" lang="de">
<head>

  {# -- CHECK JS -- #}
  {% include '_partials/global/_checkJS.html' %}

  {# -- CRITICAL CSS -- #}
  {% set cacheVal = getCookie('critical-css') %}
  {% if not cacheVal or craft.config.devMode %}
    {{ setCookie('critical-css', now | date_modify("+7 days").timestamp ) }}
    {% block appInlineCSS %}
    {% endblock %}
  {% endif %}

  {# -- CSS Part -- #}
  {% include '_partials/header/_css-part.html' %}

  {# -- META -- #}
  {% include '_partials/header/_meta.html' %}

  {# -- SCRIPTS -- #}
  {% include '_partials/header/_scripts.html' %}

  {# -- SEO & TITLE TAG -- #}
  {% include '_partials/header/_seo.html' %}

  {# -- FAV ICON -- #}
  {% include '_partials/header/_favicons.html' %}

  {% block siteHeader %}{% endblock %}
</head>
{% minify html %}
<body id="home" class="{{ bodyClass is defined ? bodyClass }}  {{ craft.request.isLivePreview ? 'is-livePreview' }}  {{ craft.config.devMode ? 't-devMode' }}">

<div class="m-appWrapper">
  {# -- App Header -- #}
  {% include '_modules/appHeader/_template.html' %}

  {% cache %}
  <div class="m-appContent">
  {% block appContent %}
    Content
  {% endblock %}
  </div>

  {# -- App Footer -- #}
  {% include '_modules/appFooter/_template.html' %}
  {% endcache %}

  {% if currentUser %}
    {#{% if currentUser.isInGroup('redakteur') or currentUser.admin %}#}
    {% if currentUser.admin and entry is defined %}
      <div class="t-editLink">
        <a href="{{ entry.cpEditUrl }}">Edit this Page</a>
      </div>
    {% endif %}
  {% endif %}
</div>

{# -- Grid Overlay -- #}
{% if craft.config.devMode %}
  <div class="o-gridOverlay  o-section">
    <div class="o-row">
      {% for i in 1..12 %}
        <div class="o-col"></div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{# -- SCRIPTS -- #}
{% include '_partials/footer/_scripts.html' %}

{# -- Instant Analytics -- #}
{% block analytics %}
  {#{% hook 'iaSendPageView' %}#}
{% endblock %}
</body>
{% endminify %}
</html>
