{#
    {% embed '_templates/home/_template.html' with {
      options: {
        modiefiers: ['YOUR_MODIFIER'],
      }
    } only %}
    {% block head %}
      …
    {% endblock %}

    {% block first %}
      …
    {% endblock %}

    {% block second %}
      …
    {% endblock %}
  {% endembed %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
classname: 'o-home',
modifiers: []
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Modul -- #}
<div
  class="{{ options.classname }}{% for modifier in options.modifiers %}{{ '  ' ~ options.classname ~ '--' ~ modifier }}{% endfor %}">

  <div class="o-section  o-section--width-full  o-section--paddingHorizontal-none">
    <div class="o-row">
      <div class="o-col  {{ options.classname ~ '__stage' }}">
        <div class="o-row">
          {% block stage %}
            Head…
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div class="o-section">
    <div class="o-row">
      <div class="{{ options.classname ~ '__first' }}">
        {% block first %}
          Stage…
        {% endblock %}
      </div>

      <div class="{{ options.classname ~ '__second' }}">
        {% block second %}
          First…
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="o-section  o-section--width-full">
    <div class="o-row">
      <div class="{{ options.classname ~ '__third' }}">
        {% block third %}
          Second…
        {% endblock %}
      </div>
    </div>

    <div class="o-row">
      <div class="{{ options.classname ~ '__fourth' }}">
        {% block fourth %}
          Second…
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="o-section">
    <div class="o-row">
      <div class="{{ options.classname ~ '__fifth' }}">
        {% block fifth %}
          Second…
        {% endblock %}
      </div>

      <div class="{{ options.classname ~ '__sixth' }}">
        {% block sixth %}
          Second…
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="o-section">
    <div class="{{ options.classname ~ '__seventh' }}">
      <div class="o-row">
        {% block seventh %}
          Second…
        {% endblock %}
      </div>
    </div>
  </div>
</div>
