/*
 |--------------------------------------------------------------------------
 |  Quotes
 |--------------------------------------------------------------------------
 */

blockquote {
  margin: 0;

  p {
    @include ms-respond(font-size, 1);
    font-style: italic;

    @include wf('serif');
  }

  footer {
    @include make-vr();

    cite {
      font-style: normal;
    }
  }
}
