/*
 |--------------------------------------------------------------------------
 |  Page
 |--------------------------------------------------------------------------
 */

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @include ms-respond(font-size, 0);
  line-height: $bk-baseLineHeight;

  /* stylelint-disable */
  .js &.no-hover > * {
    pointer-events: none;
  }

  .js &.is-open--navigation {
    height: 100vh;
    overflow: hidden;
  }
  /* stylelint-enable */
}
