/* -------------------------------------------------- */
/*    Image Gallery
/* -------------------------------------------------- */

@import '~photoswipe/src/css/main';
@import '../../assets/css/vendors/photoswipe/defaultSkin';

.m-imageGallery {
  $root: &;

  &__inner {
    @include make-row();
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    @include make-vr(-1/2);
  }

  &__item {
    @include make-col(6);
    @include make-vr(2);
    display: flex;
    align-items: stretch;

    @include media('>=s') {
      @include make-col(3);
    }
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      background-color: c('white');
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease('out-cubic');
    }

    &:hover {
      &::after {
        opacity: 0.25;
        transition: opacity 0.25s ease('out-cubic');
      }
    }
  }

  &--columns-6 {
    @include media('>=s') {
      #{$root}__item {
        @include make-col(4);
      }
    }

    @include media('>=m') {
      #{$root}__item {
        @include make-col(2);
      }
    }
  }

  &--columns-5 {
    @include media('>=s') {
      #{$root}__item {
        @include make-col(3);
      }
    }

    @include media('>=m') {
      #{$root}__item {
        @include make-col(12/5);
      }
    }
  }

  &--columns-4 {
    @include media('>=s') {
      #{$root}__item {
        @include make-col(3);
      }
    }
  }

  &--columns-3 {
    @include media('>=s') {
      #{$root}__item {
        @include make-col(4);
      }
    }
  }

  &--columns-2 {
    @include media('>=s') {
      #{$root}__item {
        @include make-col(6);
      }
    }
  }
}

// Photoswipe Overwrites
.pswp__bg {
  background: rgba(c('black'), 0.95);
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  position: absolute;
}

.pswp__button,
.pswp__button--arrow--left::before,
.pswp__button--arrow--right::before {
  background-image: url('~ASSETS/svg/single/default-skin.svg') !important;
}
