/*
 |--------------------------------------------------------------------------
 |  a-infoText
 |--------------------------------------------------------------------------
 */

// Modul
.a-infoText {
  $root: &;
  @include make-vr();
  font-size: ms(-1);
  color: c('black', '50');
  @include wf('base');
}

// Modul Modifiers Example
.a-infoText--modifier {
  .a-infoText__block {
    // Styles here
  }
}
