{#
    {% embed '_templates/mainAside/_template.html' with {
      options: {
        modiefiers: ['YOUR_MODIFIER'],
        head: true,
        main: true,
        aside: true
      }
    } %}
    {% block head %}
      …
    {% endblock %}

    {% block main %}
      …
    {% endblock %}

    {% block aside %}
      …
    {% endblock %}
  {% endembed %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  classname: 'm-mainAside',
  modifiers: [],
  head: true,
  main: null,
  aside: null
} %}

{% if options is defined %}
    {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
    {% set options = defaults %}
{% endif %}

{# -- Modul -- #}
{% if options.main %}
  <div class="o-col  {{ options.classname }}{% for modifier in options.modifiers %}{{ '  ' ~ options.classname ~ '--' ~ modifier }}{% endfor %}">
    <div class="{{ options.classname ~ '__inner' }}">

      {% if options.head %}
        <div class="{{ options.classname ~ '__head' }}">
          {% block head %}
            Head…
          {% endblock %}
        </div>
      {% endif %}

      {% if options.main %}
        <div class="{{ options.classname ~ '__main' }}">
          {% block main %}
            Main…
          {% endblock %}
        </div>
      {% endif %}

      {% if options.aside %}
        <aside class="{{ options.lassname ~ '__aside' }}">
          {% block aside %}
            Aside…
          {% endblock %}
        </aside>
      {% endif %}
    </div>
  </div>
{% endif %}
