/*
 |--------------------------------------------------------------------------
 |  CSS Grid
 |  Guide: https://css-tricks.com/snippets/css/complete-guide-grid/
 |--------------------------------------------------------------------------
 */

// Section Mixin
@mixin make-section($behaviour: 'fixed', $padding: true) {
  max-width: if($behaviour == 'fixed', $bk-maxWidth, none);
  @if $padding == true {
    @include f($bk-gutterWidthMin * 2, $bk-gutterWidthMax * 2, padding-left padding-right);
  }
}

// Section Padding Mixin
@mixin make-section-padding($factor: 1) {
  @if $factor <= 1 {
    $factor: $factor * 2;
    padding-top: 0;
    @include f($bk-vrGutterHeightMin * $factor, $bk-vrGutterHeightMax * $factor, padding-bottom);

  } @else {
    $factor: $factor * 2;
    @include f($bk-vrGutterHeightMin * ($factor - 2), $bk-vrGutterHeightMax * ($factor - 2), padding-top);
    @include f($bk-vrGutterHeightMin * ($factor), $bk-vrGutterHeightMax * ($factor), padding-bottom);
  }
}

// Make Col Gao
@mixin make-col-gap($factor: 1) {
  $factor: $factor * 2;
  @include f($bk-gutterWidthMin * $factor, $bk-gutterWidthMax * $factor, grid-column-gap);
}

// Row Mixin
@mixin make-row($colsMin: $bk-columns / 2, $colsMax: $bk-columns, $gap: true) {
  grid-template-columns: repeat($colsMin, 1fr);

  @include media('>=s') {
    grid-template-columns: repeat($colsMax, 1fr);
  }

  @if $gap == true {
    @include make-col-gap();
  }
}

// Col Mixin
@mixin make-col($cols: 1) {
  grid-column-start: auto;
  grid-column-end: span ceil($cols);
}

// Span Mixin
@mixin col-pos($cols: auto) {
  @if $cols != auto {
    $cols: ceil($cols);
  }
  grid-column-start: $cols;
}

// Generate all Grid Classes
@each $key, $value in $breakpoints {
  @if $key == 'min' {

    // Col Base Classes
    @for $i from 1 through $bk-columns {
      .o-col-#{$i} {
        @include make-col($i);
      }
    }

    // Offset Classes
    @for $i from 1 through $bk-columns {
      .o-col-sa-#{$i} {
        @include col-pos($i);
      }
    }

    // Row Classes
    @for $i from 1 through $bk-columns {
      .o-row-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }

  } @else if $key != 'min' {

    // Col Breakpoint Classes
    @include media('>=#{$key}') {;

      // Col Classes
      @for $i from 1 through $bk-columns {
        .o-col-#{$key}-#{$i} {
          @include make-col($i);
        }
      }

      // Offset Classes
      @for $i from 1 through $bk-columns {
        .o-col-sa-#{$key}-#{$i} {
          @include col-pos($i);
        }
      }

      // Row Classes
      @for $i from 1 through $bk-columns {
        .o-row-#{$key}-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
  }
}
