/*
 |--------------------------------------------------------------------------
 |  Grid Float
 |--------------------------------------------------------------------------
 */

// Make Section Mixin
@mixin make-section-float($behaviour: 'fixed') {
  width: 100%;
  max-width: if($behaviour == 'fixed', $bk-maxWidth, none);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include f($bk-gutterWidthMin * 2, $bk-gutterWidthMax * 2, padding-left padding-right);
}

// Make Row Mixin
@mixin make-row-float($factorMin: 1, $factorMax: 1) {
  @include f(-$bk-gutterWidthMin * $factorMin, -$bk-gutterWidthMax * $factorMax, margin-left margin-right);
}

// Make Col Mixin
@mixin make-col-float($columns: 0, $context: $bk-columnsMax) {
  // Force Columns to 12 if it > as 12
  @if $columns > $bk-columnsMax {
    $columns: $bk-columnsMax;
  }

  // Basics
  @include make-col-ready-float();
  width: 100%;
  float: left;

  // Col Width
  max-width: calc(#{$columns} / #{$context} * 100%);

  // Set Padding
  @include make-col-padding-float();
}

/*
 |--------------------------------------------------------------------------
 |  Helpers
 |--------------------------------------------------------------------------
 */


// Section Padding Mixin
@mixin make-section-padding-float($factor: 1) {
  @if $factor <= 1 {
    $factor: $factor * 2;
    padding-top: 0;
    @include f($bk-vrGutterHeightMin * $factor, $bk-vrGutterHeightMax * $factor, padding-bottom);

  } @else {
    $factor: $factor * 2;
    @include f($bk-vrGutterHeightMin * ($factor - 2), $bk-vrGutterHeightMax * ($factor - 2), padding-top);
    @include f($bk-vrGutterHeightMin * ($factor), $bk-vrGutterHeightMax * ($factor), padding-bottom);
  }
}

// Col Padding Mixin
@mixin make-col-padding-float($factor: 1) {
  @if $factor < 0 {
    $factor: 0;
  }
  @include f($bk-gutterWidthMin * $factor, $bk-gutterWidthMax * $factor, padding-left padding-right);
}

// Make Col Ready
@mixin make-col-ready-float() {
  position: relative;
  min-height: 1px;
}

