{#
  News Entry Template
  --------------------------------------------------

  When you view a single news on the website, this template gets loaded.
#}



{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-newsSingle" %}

{# start: Rel Nav #}
{% block siteHeader %}
  {% set vars = {
    section: 'news',
    order: 'postDate'
  } %}
  {% include '_partials/header/_siteHeaderLinks--single.html' with vars %}
{% endblock %}

{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key craft.request.path %}
  <article role="article">
    <div class="o-section">
      <div class="o-row">

        {# -- Include Page Title -- #}
        {% include '_modules/pageTitle/_template.html' with {
          options: {
            object: entry,
            size: 'h1'
          }
        } %}
      </div>
    </div>

    {# Content Builder #}
    {% include '_contentBuilders/_contentBuilderNeo.html' %}
  </article>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
