{#
  News Entry Template
  --------------------------------------------------

  When you view a single news on the website, this template gets loaded.
#}



{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-newsSingle" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# start: Rel Nav #}
{% block siteHeader %}
  {% include '_partials/header/_siteHeaderLinks--single.html' with {
    section: 'news',
    order: 'postDate',
    entry: entry
  } only %}
{% endblock %}

{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key craft.request.path %}
  <article role="article">
    <div class="o-section">
      <div class="o-row">

        {# -- Include Page Title -- #}
        {% include '_modules/pageTitle/_template.html' with {
          options: {
            object: entry,
            size: 'h1'
          }
        } only %}
      </div>
    </div>

    <div class="o-section">
      {# -- Entry Intro -- #}
      {% if entry.singleIntroText is defined and entry.singleIntroText %}
        <div class="o-row">
          {% include '_modules/richText/_template.html' with {
            options: {
              text: entry.singleIntroText
            }
          } only %}
        </div>
      {% endif %}

      {# -- Entry Image -- #}
      <div class="o-row">
        {% include '_modules/imageSingle/_template.html' with {
          options: {
            image: entry.singleImageEntry.first()
          }
        } only %}
      </div>
    </div>

    {# -- Content Builder -- #}
    {% include '_contentBuilders/_contentBuilderNeo.html' with {
      options: {
        object: entry
      }
    } only %}
  </article>

  <div class="o-section">
    <div class="o-row">
      {# -- Post Nav -- #}
      {% import '_macros/_macro-postNav.html' as macroPostNav %}
      {{ macroPostNav.postNav(entry, {
        section: 'news',
        prevLabel: 'Prev Article',
        nextLabel: 'Next Article',
        prevIcon: 'iconArrowLeft',
        nextIcon: 'iconArrowRight'
      }) }}
    </div>
  </div>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
