/* -------------------------------------------------- */
/*    Separator
/* -------------------------------------------------- */

.m-separator {
  $root: &;

  &--marginVertical-small {
    @include make-section-padding(1);
  }

  &--marginVertical-medium {
    @include make-section-padding(2);
  }

  &--marginVertical-large {
    @include make-section-padding(3);
  }

  &--marginVertical-none {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__inner {
    position: relative;
    border: 0;
  }

  &--style-default {
    #{$root}__inner {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: c('black', '50');
      }
    }
  }
}
