/*
 |--------------------------------------------------------------------------
 |  paginationSimple
 |--------------------------------------------------------------------------
 */

.m-paginationSimple {
  @include make-col-flex(12);
  @include make-vr();
  $root: &;
  margin: 0;
  padding: 0;
  list-style: none;

  &__inner {
    @include make-row-flex();
  }

  &__item {
    @include make-col-flex(6);

    &--next {
      margin-left: auto;
    }
  }

  &__link {
    display: block;
    position: relative;
    color: c('black', '90');
    border: 1px solid c('black', '10');
    padding-top: s(2);
    padding-bottom: s(2);

    &:hover {
      border-color: c('black', '90');
      color: c('black', '90');

      .m-svgSprite {
        fill: c('white');
      }
    }

    &--prev {
      padding-left: s(9);
      text-align: left;
    }

    &--next {
      padding-right: s(9);
      text-align: right;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;

    svg path {
      fill: c('black', '90');
    }

    &--prev {
      left: 50%;
      transform: translate(-50%, -50%);

      @include media('>=s') {
        left: s(3);
        transform: translateY(-50%);
      }
    }

    &--next {
      right: 50%;
      transform: translate(50%, -50%);

      @include media('>=s') {
        right: s(3);
        transform: translateY(-50%);
      }
    }
  }

  &__title {
    font-weight: 500;
    display: none;

    @include media('>=s') {
      display: block;
    }
  }
}
