/*
 |--------------------------------------------------------------------------
 |  a-embed
 |--------------------------------------------------------------------------
 */

// Modul
.a-embed {
  $root: &;
  @include make-vr();
  width: 100%;
}

// Modul Modifiers Example
.a-embed--width-100 {
  width: 100%;
}

.a-embed--width-75 {
  width: 75%;

  &.a-embed--align-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.a-embed--align-right {
    margin-left: auto;
  }
}

.a-embed--width-50 {
  width: 50%;

  &.a-embed--align-center {
    margin-left: auto;
    margin-right: auto;
  }

  &.a-embed--align-right {
    margin-left: auto;
  }
}
