/*
 |--------------------------------------------------------------------------
 |  o-imageSlider
 |--------------------------------------------------------------------------
 */

// Modul
.o-imageSlider {
  $root: &;
  @include make-vr();
  width: 100%;

  /* stylelint-disable */
  .flickity-prev-next-button {
    opacity: 0;
    transition: all 0.25s ease('out-cubic');
  }

  &:hover {
    .flickity-prev-next-button {
      opacity: 1;

      &:disabled {
        opacity: 0;
      }
    }
  }
  /* stylelint-enable */

  &__slider {
    position: relative;
    width: 100%;
    max-width: $bk-maxWidth;
    overflow: visible;

    @include media('>=s') {
      margin-bottom: s(5);
    }
  }

  &__slide {
    width: 90%;
    @include f(s(2), s(4), margin-right);

    @include media('>=m') {
      width: 100%;
    }
  }

  &__slideInner {
    // @include make-col-padding();

    .m-figure {
      margin-top: 0;
    }

    .a-image__image {
      width: 100%;
    }
  }
}

// Modul Modifiers Example
.o-imageSlider--modifier {
  .o-imageSlider__block {
    // Styles here
  }

  @at-root {
    // Use this for nesting with root selector
  }
}
