{#
  Pagination
  ==========
  Powered by Kittn Generator: http://kittn.de/
  Generate navigation buttons for paginations
  It use the Pagination Module, include before the Loop `{% paginate entries as pageInfo, pageEntries %}`

  @param {object}  pages                 - Pagination Object
  @param {object}  craft                 - Craft Request Object
  @param {object}  options               - Array of options
  @param {string}  options.classnamename         - Classname (default: 'o-pagination')
  @param {string}  options.searchquery   - To pass search words from Searchfields (default: false)
  @param {string}  options.prevText      - Titletext for Prev
  @param {string}  options.nextText      - Titletext for Next
#}
{% macro paginationSimple(pages,craft,options) %}
  {% set defaults = {
    classname: 'm-paginationSimple',
    searchquery: false,
    prevText: 'Prev Page',
    nextText: 'Next Page',
    prevIcon: false,
    nextIcon: false
  } %}

  {% if options is defined %}
      {% set options = options is defined ? defaults|merge(options) : defaults %}
  {% else %}
      {% set options = defaults %}
  {% endif %}

  {# Add Pagination only if the Page Number is higher than 1#}
  {% if pages.totalPages > 1 %}
    <div class="o-col  {{ options.classname }}">
      <nav class="{{ options.classname ~ '__inner' }}" role="navigation">

        {# Display the Previous Link if available #}
        {% if pages.prevUrl %}
          <div class="{{ options.classname ~ '__item' }}  {{ options.classname ~ '__item--prev' }}">
            <a class="{{ options.classname ~ '__link' }}  {{ options.classname ~ '__link--prev' }}"
               href="{{ pages.prevUrl }}{{ options.searchquery ? '?q='~options.searchquery }}"
               title="{{ options.prevText }}">

              {% if options.prevIcon %}
                <span class="{{ options.classname ~ '__icon' }}  {{ options.classname ~ '__icon--prev' }}">
                {% include '_svg/' ~ options.prevIcon ~ '.svg.html' %}
              </span>
              {% endif %}

              <span class="{{ options.classname ~ '__title' }}">
                {{ options.prevText }}
              </span>
            </a>
          </div>
        {% endif %}

        {# Display next Page Link if available#}
        {% if pages.nextUrl %}
        <div class="{{ options.classname ~ '__item' }}  {{ options.classname ~ '__item--next' }}">
          <a class="{{ options.classname ~ '__link' }}  {{ options.classname ~ '__link--next' }}"
             href="{{ pages.nextUrl }}{{ options.searchquery ? '?q='~options.searchquery }}"
             title="{{ options.nextText }}">

            {% if options.nextIcon %}
              <span class="{{ options.classname ~ '__icon' }}  {{ options.classname ~ '__icon--next' }}">
                {% include '_svg/' ~ options.nextIcon ~ '.svg.html' %}
              </span>
            {% endif %}

            <span class="{{ options.classname ~ '__title' }}">
              {{ options.nextText }}
            </span>
          </a>
        </div>
        {% endif %}
      </nav>
    </div>
  {% endif %}
{% endmacro %}
