/*
 |--------------------------------------------------------------------------
 |  m-caption
 |--------------------------------------------------------------------------
 */

// Modul
.m-caption {
  $root: &;
  @include make-vr(1/2);
  @include ms-respond(font-size, -1);
  @include wf('sans-serif');
  width: 100%;
  color: c('black', '70');
}

// Modul Modifiers Example
.m-caption--modifier {
  .m-caption__block {
    // Styles here
  }
}
