/*
 |--------------------------------------------------------------------------
 |  o-section
 |--------------------------------------------------------------------------
 */

.o-section {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include make-section();
  @include make-section-padding(1);

  .t-oldies & {
    @include make-section-flex();
  }

  .o-section {
    @include f(0, 0, padding-left padding-right);
  }
}

// Width
.o-section--fluid {
  max-width: none;
}

// No Padding
.o-section--noPadding {
  @include f(0, 0, padding-left padding-right);
}

// Background Color
.o-section--bg-white {
  background-color: c('white');
}

.o-section--bg-black {
  background-color: c('black');
}

// Padding Vertical
.o-section--pv-none {
  padding-top: 0;
  padding-bottom: 0;
}

.o-section--pv-medium {
  @include make-section-padding(2);
}

.o-section--pv-large {
  @include make-section-padding(3);
}

.o-section--pv-xlarge {
  @include make-section-padding(4);
}
