/* -------------------------------------------------- */
/*    Grid Overlay
/* -------------------------------------------------- */

.t-devMode {
  /* stylelint-disable */
  .js-toggleGrid {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 111111111111;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    box-shadow: 0 2px 10px rgba(black, 0.5);
  }
  /* stylelint-enable */

  .o-gridOverlay {
    position: fixed;
    left: 50%;
    top: 0;
    z-index: 1111111;
    transform: translateX(-50%);
    height: 100vh;
    border-left: 1px solid c('red');
    border-right: 1px solid c('red');
    opacity: 0.5;
    pointer-events: none;
    display: none;

    &.is-visible {
      display: block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 100vh;
      top: 0;
      @include f($dh-gutterWidthMin, $dh-gutterWidthMax, width);
      background-color: c('green');
      opacity: 0.25;
      z-index: -1;
    }

    &::before {
      @include f($dh-gutterWidthMin, $dh-gutterWidthMax, left);
    }

    &::after {
      @include f($dh-gutterWidthMin, $dh-gutterWidthMax, right);
    }

    .o-row {
      height: 100vh;
    }

    .o-col {
      @include make-col(1);
      height: 100vh;
      border-right: 1px solid c('red');
      position: relative;

      &:first-child {
        border-left: 1px solid c('red');
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 100vh;
        @include f($dh-gutterWidthMin, $dh-gutterWidthMax, width);
        background-color: c('green');
        opacity: 0.25;
        top: 0;
        z-index: -1;
      }

      &::before {
        @include f(-$dh-gutterWidthMin, -$dh-gutterWidthMax, left);
      }

      &::after {
        @include f(-$dh-gutterWidthMin, -$dh-gutterWidthMax, right);
      }
    }
  }
}
