/*
 |--------------------------------------------------------------------------
 |  Col
 |--------------------------------------------------------------------------
 */

.o-col,
[class*='o-col'] {
  position: relative;
  min-height: 1px;
  min-width: 0;

  .t-oldies & {
    @include make-col-flex();
  }
}
