/* -------------------------------------------------- */
/*    .o-section
/* -------------------------------------------------- */

.o-section {
  @include make-section();
  @include make-section-padding(1);
  // background-color: rgba(c('red'), 0.1);
}

// Width
.o-section--width-full,
.m-contentSection--width-full {
  @include make-section('fluid');
}

.o-section--paddingHorizontal-none,
.m-section--paddingHorizontal-none {
  @include f(s(1), s(2), padding-left padding-right);
}

// Background Color
.o-section--backgroundColor-white,
.m-contentSection--backgroundColor-white {
  background-color: c('white');
}

.o-section--backgroundColor-black,
.m-contentSection--backgroundColor-black {
  background-color: c('black');
}

// Padding Vertical
.o-section--paddingVertical-none,
.m-contentSection--paddingVertical-none {
  padding-top: 0;
  padding-bottom: 0;
}

.o-section--paddingVertical-medium,
.m-contentSection--paddingVertical-medium {
  @include make-section-padding(2);
}

.o-section--paddingVertical-large,
.m-contentSection--paddingVertical-large {
  @include make-section-padding(3);
}

// Headline
.o-section__headline {
  @include make-col(12);
  @include f(s(2), s(4), padding-left padding-right);
  @include f(s(2), s(8), margin-top);
  text-align: center;
}
