/* -------------------------------------------------- */
/*    .o-row
/* -------------------------------------------------- */

.o-row {
  @include make-row();
  // background-color: rgba(c(blue), 0.1);

  &--imageCover {
    @include make-row(3, 3);
  }

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .o-col,
    > [class*='o-col'] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  // Different Alignments
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
