/*
 |--------------------------------------------------------------------------
 |  a-richText
 |--------------------------------------------------------------------------
 */

// Modul
.a-richText {
  $root: &;
  width: 100%;
  max-width: 80ch;
}

// Modul Modifiers Example
.a-richText--modifier {
  .a-richText__block {
    // Styles here
  }
}
