/*
 |--------------------------------------------------------------------------
 |  a-richText
 |--------------------------------------------------------------------------
 */

// Modul
.a-richText {
  $root: &;
  width: 100%;
  max-width: 80ch;
}

// Modul Modifiers Example
.a-richText--intro {
  @include ms-respond(font-size, 1);
}
