<!-- JS Scripts & Plugins -->
{% include "_partials/webpack/webpack-scripts.html" %}

{# -- Third Party Snippets -- #}
{% set thirdPartySnippets = thirdPartySnippets.globalThirdPartySnippets is defined ? thirdPartySnippets.globalThirdPartySnippets %}
{% if thirdPartySnippets %}
  {% for row in thirdPartySnippets %}
    {% if row.snippetStatus %}
      {% if row.snippetName %}
        <!-- {{ row.snippetName }} -->
      {% endif %}

      {% if row.snippetCode %}
        {{ row.snippetCode | raw }}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

{# -- Google Analytics -- #}
{% if googleAnalytics.globalGoogleAnalytics is defined and googleAnalytics.globalGoogleAnalytics %}
  <!-- Google Analytics -->
  <script>
    if(navigator.userAgent.indexOf("Speed Insights") == -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ googleAnalytics.globalGoogleAnalytics }}', 'auto');
      {% if fourohfour is defined %}
      {{ fourohfour }}
      {% else %}
      ga('send', 'pageview');
      {% endif %}
    }
  </script>
{% endif %}
