/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package  craft3
 | @author David Hellmann [david@hellmann.io]
 | .a-select
 |--------------------------------------------------------------------------
 */

// Modul
.a-select {
  $root: &;
  width: 100%;
  display: block;
  position: relative;
  margin-top: 16px;

  &--default-selected select {
    color: c('black', '45');
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    width: 10px;
    height: 2px;
    z-index: 100;
    pointer-events: none;
    background-color: c('black');
  }

  &::before {
    transform: rotate(-45deg) translate(0, -50%);
  }

  &::after {
    right: 23px;
    transform: rotate(45deg) translate(0, -50%);
  }

  select {
    -webkit-appearance: none; // stylelint-disable-line
    -moz-appearance: none; // stylelint-disable-line
    appearance: none; /* remove default arrow */
    @include make-vr(0.5);
    display: block;
    width: 100%;
    height: 48px;
    line-height: 1.5;
    padding: s(1) s(5) s(1) s(2);
    @include ms-respond(font-size, -1);
    @include wf('base');
    font-weight: 400;
    border: 1px solid c('black');
    border-radius: 3px;
    -moz-appearance: none; // stylelint-disable-line
    position: relative;
    transition: all 0.25s ease-out;

    &::-ms-expand {
      display: none;
    }

    &:disabled {
      cursor: not-allowed;
      border: 1px solid c('black', '30');
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px rgba(c('blue'), 0.5), 0 0 0 1.5px rgba(c('blue'), 0.5);
    }
  }
}
