/*
 |--------------------------------------------------------------------------
 |  Colors
 |--------------------------------------------------------------------------
 */

// Shades of Gray
$color__white: #fff;
$color__black: #000;

// Colored
$color__red: #F44336;
$color__green: #4CAF50;
$color__blue: #2196F3;

$bk-grayShades: (
        'white': (
                'base': $color__white,
                'dark': mix(black, $color__white, 10%),
                'trans': rgba($color__white, 0.5),
        ),
        'black': (
                'base': $color__black,
                '05': mix(black, $color__white, 5%),
                '10': mix(black, $color__white, 10%),
                '15': mix(black, $color__white, 15%),
                '20': mix(black, $color__white, 20%),
                '25': mix(black, $color__white, 25%),
                '30': mix(black, $color__white, 30%),
                '35': mix(black, $color__white, 35%),
                '40': mix(black, $color__white, 40%),
                '45': mix(black, $color__white, 45%),
                '50': mix(black, $color__white, 50%),
                '55': mix(black, $color__white, 55%),
                '60': mix(black, $color__white, 60%),
                '65': mix(black, $color__white, 65%),
                '70': mix(black, $color__white, 70%),
                '75': mix(black, $color__white, 75%),
                '80': mix(black, $color__white, 80%),
                '85': mix(black, $color__white, 85%),
                '90': mix(black, $color__white, 90%),
                '95': mix(black, $color__white, 95%),
                'trans': rgba($color__black, 0.5),
        )
);

$bk-colored: (
        'red': (
                'base': $color__red,
                'dark': mix(black, $color__red, 10%),
                'light': mix(white, $color__red, 10%),
                'trans': rgba($color__red, 0.5),
        ),
        'green': (
                'base': $color__green,
                'dark': mix(black, $color__green, 10%),
                'light': mix(white, $color__green, 10%),
                'trans': rgba($color__green, 0.5),
        ),
        'blue': (
                'base': $color__blue,
                'dark': mix(black, $color__blue, 10%),
                'light': mix(white, $color__blue, 10%),
                'trans': rgba($color__blue, 0.5),
        ),
);

// Merge Gray Shades and Colored Map
$bk-colors: map-merge($bk-colored, $bk-grayShades);
