/*
 |--------------------------------------------------------------------------
 |  Font Sizes
 |--------------------------------------------------------------------------
 */
// Dependencies
@import '~modularscale-sass/stylesheets/modularscale';
@import 'settings.breakpoints';

// Settings
$bk-baseFontSizePx: 16px;
$bk-baseFontSizeMaxPx: 19px;
$bk-baseLineHeight: 1.5;

// Modular Scale Settings
$modularscale: (
        base: $bk-baseFontSizePx,
        ratio: $major-second,
        map-get($breakpoints, 'min'): (
                base: $bk-baseFontSizePx,
                ratio: $major-second,
        ),
        map-get($breakpoints, 'm'): (
                base: $bk-baseFontSizeMaxPx,
                ratio: $fourth,
        )
);

