/*
 |--------------------------------------------------------------------------
 |  Font Families
 |--------------------------------------------------------------------------
 */

$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-headline: $font-family-sans-serif;

$bk-fontfamilies: (
        'serif': $font-family-serif,
        'sans-serif': $font-family-sans-serif,
        'base': $font-family-base,
        'headline': $font-family-headline,
        'bold': $font-family-headline,
);
