/*
 |--------------------------------------------------------------------------
 |  Breakpoint Settings
 |--------------------------------------------------------------------------
 */

// Imports
// Important to include "Include Media" at this point
// Cause we set the map our Breakpoints to their map $breakpoints
@import '~include-media/dist/include-media';

$bk-bp-min: 320px;
$bk-bp-xs: 400px;
$bk-bp-s: 600px;
$bk-bp-m: 800px;
$bk-bp-l: 1000px;
$bk-bp-max: 1440px;

// Settings
$bk-grid-settings-custom: (
  cssgrid: false,
  cssgrid-fallback: false,
  flexboxgrid: true,
  testing: false,
  prefix: 'o-',
  units: (
    gutter: 8px,
    gutter-min-factor: 1,
    gutter-max-factor: 2,
    gutter-min-vertical-factor: 1,
    gutter-max-vertical-factor: 2
  ),
  offset-classes: false,
  push-classes: false,
  pull-classes: false,
  disable-padding-horizontal: false,
  breakpoints: (
    min: (from: $bk-bp-min, cols: 6, create-classes: true),
    xs:  (from: $bk-bp-xs, cols: 6, create-classes: false),
    s:   (from: $bk-bp-s, cols: 24, create-classes: true),
    m:   (from: $bk-bp-m, cols: 24, create-classes: false),
    l:   (from: $bk-bp-l, cols: 24, create-classes: false),
    max: (from: $bk-bp-max, cols: 24, create-classes: false)
  )
);

@import '~baukasten-grid/scss/baukasten-grid';
