/*
 |--------------------------------------------------------------------------
 |  Grid
 |--------------------------------------------------------------------------
 */

$bk-columns:              24;                     // Number of Columns
$bk-minWidth:             320px;                  // Min Viewport Size
$bk-maxWidth:             1440px;                 // Max Viewport Size
$bk-gutterWidth:          8px;                    // On each side
$bk-gutterWidthMin:       $bk-gutterWidth;        // Set the minimum horizontal gutter
$bk-gutterWidthMax:       $bk-gutterWidth * 2;    // Set the maximum horizontal gutter
$bk-vrGutterHeightMin:    $bk-gutterWidth;        // Set the minimum vertical gutter
$bk-vrGutterHeightMax:    $bk-gutterWidth * 2;    // Set the maximum horizontal gutter
