/*
 |--------------------------------------------------------------------------
 |  Breakpoint Settings
 |--------------------------------------------------------------------------
 */

// Imports
// Important to include "Include Media" at this point
// Cause we set the map our Breakpoints to their map $breakpoints
@import '~include-media/dist/include-media';

// Settings
$bk-grid-settings-custom: (
  cssgrid: false,
  cssgrid-fallback: true,
  flexboxgrid: true,
  testing: true,
  prefix: 'o-',
  units: (
    gutter: 8px,
    gutter-min-factor: 1,
    gutter-max-factor: 2,
    gutter-min-vertical-factor: 1,
    gutter-max-vertical-factor: 2
  ),
  offset-classes: false,
  push-classes: false,
  pull-classes: false,
  disable-padding-horizontal: false,
  breakpoints: (
    min: (from: 320px, cols: 12, create-classes: true),
    xs:  (from: 400px, cols: 12, create-classes: false),
    s:   (from: 600px, cols: 24, create-classes: true),
    m:   (from: 800px, cols: 24, create-classes: false),
    l:   (from: 1000px, cols: 24, create-classes: true),
    max: (from: 1440px, cols: 24, create-classes: false)
  )
);

@import '~baukasten-grid/scss/baukasten-grid';
