/*
 |--------------------------------------------------------------------------
 |  Colors
 |--------------------------------------------------------------------------
 */

$bk-colored: (
  'red': (
    'base': #F44336,
    'dark': mix(#000, #F44336, 10%),
    'light': mix(#fff, #F44336, 10%),
    'trans': rgba(#F44336, 0.5),
  ),
  'green': (
    'base': #4CAF50,
    'dark': mix(#000, #4CAF50, 10%),
    'light': mix(#fff, #4CAF50, 10%),
    'trans': rgba(#4CAF50, 0.5),
  ),
  'blue': (
    'base': #2196F3,
    'dark': mix(#000, #2196F3, 10%),
    'light': mix(#fff, #2196F3, 10%),
    'trans': rgba(#2196F3, 0.5),
  ),
);


/*
 |--------------------------------------------------------------------------
 |  Shades of gray
 |--------------------------------------------------------------------------
 */

$bk-grayShades: (
  'white': (
    'base': #fff,
    'dark': mix(#000, #fff, 10%),
    'trans': rgba(#fff, 0.5),
  ),
  '#000': (
    'base': #000,
    '05': mix(#000, #fff, 5%),
    '10': mix(#000, #fff, 10%),
    '15': mix(#000, #fff, 15%),
    '20': mix(#000, #fff, 20%),
    '25': mix(#000, #fff, 25%),
    '30': mix(#000, #fff, 30%),
    '35': mix(#000, #fff, 35%),
    '40': mix(#000, #fff, 40%),
    '45': mix(#000, #fff, 45%),
    '50': mix(#000, #fff, 50%),
    '55': mix(#000, #fff, 55%),
    '60': mix(#000, #fff, 60%),
    '65': mix(#000, #fff, 65%),
    '70': mix(#000, #fff, 70%),
    '75': mix(#000, #fff, 75%),
    '80': mix(#000, #fff, 80%),
    '85': mix(#000, #fff, 85%),
    '90': mix(#000, #fff, 90%),
    '95': mix(#000, #fff, 95%),
    'trans': rgba(#000, 0.5),
  )
);

// Merge Gray Shades and Colored Map
$bk-colors: map-merge($bk-colored, $bk-grayShades);
