/*
 |--------------------------------------------------------------------------
 |  Font Families
 |--------------------------------------------------------------------------
 */

$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif: Helvetica, Arial, sans-serif;

$bk-fontfamilies: (
  'serif': $font-family-serif,
  'sans-serif': $font-family-sans-serif,
  'base': $font-family-sans-serif,
  'headline': $font-family-sans-serif,
  'bold': $font-family-sans-serif,
);
