/*
 |--------------------------------------------------------------------------
 |  Breakpoints
 |--------------------------------------------------------------------------
 */
// Vendors
// Include Media Breakpoint Mixin
// URL: http://include-media.com/
@import '~include-media/dist/include-media';
@import 'settings.grid';

// Breakpoints
$bk-breakpoint-minWidth: $bk-minWidth;
$bk-breakpoint-xs: 500px;
$bk-breakpoint-s: 800px;
$bk-breakpoint-m: 1000px;
$bk-breakpoint-l: 1200px;
$bk-breakpoint-maxWidth: $bk-maxWidth;
$bk-breakpoint-xl: 1800px;

// Breakpoints Map
$bk-breakpoints: (
        'min': $bk-breakpoint-minWidth,
        'xs': $bk-breakpoint-xs,
        's': $bk-breakpoint-s,
        'm': $bk-breakpoint-m,
        'l': $bk-breakpoint-l,
        'max': $bk-breakpoint-maxWidth,
        'xl': $bk-breakpoint-xl
);

// Include Media Breakpoints Map
$breakpoints: $bk-breakpoints;
