/* -------------------------------------------------- */
/*    Rich Text Marginals
/* -------------------------------------------------- */

.m-richTextMarginals {
  $root: &;

  &__richText {
    @include make-col(12);

    @include media('>=m') {
      @include make-col(6);
      @include offset(3);
    }
  }

  &__aside {
    @include make-col(12);

    @include media('>=m') {
      @include make-col(3);
      position: absolute;
      left: 0;
      top: 0;

      &--right {
        left: auto;
        right: 0;
      }
    }
  }

  .m-quote {
    margin: 0;
  }

  .m-quote p {
    @include f(fs('ms0'), fs('ms1'));
  }

  .m-quote footer {
    @include f(fs('ms-1'), fs('ms-1'));
  }

  .m-imageSingle {
    /*
    .m-imageSingle__inner {
      width: auto;
      left: auto;
      transform: translateX(0);
    }

    .m-imageSingle__figure {
      @include make-col(12);
    }

    .m-image {
      width: 100%;
      background-color: c('blue');
    }
    */
  }
}
