{#
    {% embed '_templates/oneColumn/_template.html' with {
      options: {
        modiefiers: ['YOUR_MODIFIER'],
        head: true,
        main: true,
        aside: true
      }
    } only %}
    {% block head %}
      …
    {% endblock %}

    {% block first %}
      …
    {% endblock %}
  {% endembed %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
classname: 'o-oneColumn',
modifiers: [],
head: true,
main: null
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Modul -- #}
{% if options.main %}
<div class="{{ options.classname }}{% for modifier in options.modifiers %}{{ '  ' ~ options.classname ~ '--' ~ modifier }}{% endfor %}">

  {% if options.head %}
  <div class="o-section">
    <div class="o-row">
      <div class="{{ options.classname ~ '__head' }}">
        {% block head %}
          Head…
        {% endblock %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="o-section">
    <div class="o-row">
      <div class="{{ options.classname ~ '__main' }}">
        {% block main %}
          Main…
        {% endblock %}
      </div>
    </div>
  </div>
  {% endif %}
