/* -------------------------------------------------- */
/*    .o-appWrapper
/* -------------------------------------------------- */

.o-appWrapper {
  $root: &;

  .is-patternLib & {
    @include make-section('fluid');
    padding-top: 16px;
    padding-bottom: 64px;
    position: relative;
  }
}

.js .o-appWrapper  {
  opacity: 0;
  transition: none;
}

.js .is-complete .o-appWrapper,
.js .is-livePreview .o-appWrapper  {
  opacity: 1;
  transition: opacity 0.5s ease('out-cubic');
}
