/* -------------------------------------------------- */
/*    .o-appWrapper
/* -------------------------------------------------- */

.o-appWrapper {
  $root: &;
  font-weight: 400;
  color: c('black', '90');
  background: c('white');
  font-family: sans-serif;

  @include wf('base');
}

.js .o-appWrapper  {
  opacity: 0;
  transition: none;
}

.js .is-complete .o-appWrapper,
.js .is-livePreview .o-appWrapper  {
  opacity: 1;
  transition: opacity 0.5s ease('out-cubic');
}
