

{# Custom Social Image #}
{% if (
    (entry.singleImageEntry is defined and entry.singleImageEntry | length) or
    (seomaticSiteMeta.siteSeoImage is defined and seomaticSiteMeta.siteSeoImage | length)
  ) and (logo.globalLogo is defined and logo.globalLogo | length) %}

  {% set logo = logo.globalLogo.first() %}

  {% set sizes = [
    { width: 100, height: 36 }
  ] %}

  {% set position = '50% 50%' %}

  {% set imageSettings = {
    jpegQuality: 100,
    mode: 'crop',
    position: position,
    ratio: ''
  } %}

  {% set watermarkImage = craft.imager.transformImage(logo, sizes, imageSettings) %}
  {% set watermarkImage = watermarkImage[0].url %}

  {% if entry.singleImageEntry is defined and entry.singleImageEntry | length %}
    {% set image = entry.singleImageEntry.first() %}
  {% else %}
    {% set image = seomaticSiteMeta.siteSeoImage %}
  {% endif %}

  {% set sizes = [
    { width: 1200, height: 630 }
  ] %}


  {% if image.settingsFocalPoint is defined %}
    {% set position = image.settingsFocalPoint %}
  {% else %}
    {% set position = '50% 50%' %}
  {% endif %}

  {% set imageSettings = {
    jpegQuality: 100,
    mode: 'crop',
    position: position,
    ratio: ''
  } %}

  {% set imageEntry = craft.imager.transformImage(image, sizes, imageSettings) %}
  {% set imageEntry = imageEntry[0].url %}

  {% set sizes = [
    { width: 1200, height: 630 }
  ] %}

  {% set imageSettings = {
    jpegQuality: 100,
    mode: 'crop',
    ratio: '',
    watermark: {
      image: watermarkImage,
      width: 100,
      height: 36,
      position: {
        left: 30,
        bottom: 30,
        opacity: 0.8
      }
    }
  } %}

  {% set socialImage = craft.imager.transformImage(imageEntry, sizes, imageSettings) %}
  {% set socialImage = socialImage[0].url %}

  {% if socialImage %}
    {% if seomaticMeta.twitter is defined and seomaticMeta.twitter is not empty %}
      {% set twitter = seomaticMeta.twitter %}
      {% set twitter = twitter | merge({'image': siteUrl|trim('/', 'right') ~ socialImage}) %}
      {% set seomaticMeta = seomaticMeta | merge({'twitter': twitter}) %}
    {% endif %}

    {% set seomaticMeta = seomaticMeta | merge({'seoImage': siteUrl|trim('/', 'right') ~ socialImage}) %}


    {% if seomaticMeta.og is defined and seomaticMeta.og is not empty %}
      {% set og = seomaticMeta.og %}
      {% set og = og | merge({'image': siteUrl|trim('/', 'right') ~ socialImage}) %}
      {% set seomaticMeta = seomaticMeta | merge({'og': og}) %}
    {% endif %}
  {% endif %}
{% endif %}
