{#
  Seomatic
  ------------------------------------------------------------
  Seomatic Plugin for Craft. Just awesome!
#}

{% if not seomatic ?? null %}
  <title>{% if appTitle is defined %}{{ appTitle }} &mdash; {% endif %}{{ siteName }}</title>
{% endif %}
