/*
 |--------------------------------------------------------------------------
 |  a-plainText
 |--------------------------------------------------------------------------
 */

// Modul
.a-plainText {
  $root: &;
  width: 100%;
  max-width: 80ch;
}

// Modul Modifiers Example
.a-plainText--modifier {
  .a-plainText__block {
    // Styles here
  }
}
