{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  Description of what this file is for

  @package  craft3
  @author David Hellmann [david@hellmann.io]

  o-cards
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
    cn: 'o-cards',
    modifiers: [],
    customClasses: [],
    data: {},
    js: null,
    items: null,
    pageInfo: null,
    pagionation: null,
    paginationSimple: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.items %}
  <div class="o-row  {{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'o-' : 'js-' }) : '' }}"
              {% for key, value in opt.data %}
                {{ 'data-' ~ key ~ '=' ~ value }}
              {% endfor %}>
    {% for item in opt.items %}
      <div class="o-col-12  o-col-s-24  o-col-l-8  {{ opt.cn ~ '__item' }}">
        {% include '_molecules/card/_template.html' with {
          opt: {
            item: item,
            image: true,
            content: true,
            link: true
          }
        } only %}
      </div>
    {% endfor %}

    {% if opt.pagination and opt.pageInfo.totalPages > 1 %}
      <div class="o-col-12  o-col-s-24  {{ opt.cn ~ '__pagination' }}">
        {% if opt.paginationSimple %}
          {# -- Pagination Simple -- #}
          {% import '_partials/macros/_macro-paginationSimple.html' as macroPaginationSimple %}
          {{ macroPaginationSimple.paginationSimple(opt.pageInfo, craft, {}) }}
        {% else %}
          {# -- Pagination -- #}
          {% import '_partials/macros/_macro-pagination.html' as macroPagination %}
          {{ macroPagination.pagination(opt.pageInfo, craft, {}) }}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
