{#
  Content Builder Modules
  =======================
#}

{% switch data.type %}
  {# -- Accordion Modul -- #}
  {% case 'accordion' %}
    {% include '_modules/accordion/_template.html' with {
      opt: {
        rows: data.children ?? null
      }
    } only %}

  {# -- Link Modul -- #}
  {% case 'link' %}
    {% include '_atoms/link/_template.html' with {
      opt: {
        url: data.singleLink.url ?? null,
        modifiers: [
          'cb',
          data.settingsLink.style ?? null,
          data.settingsLink.alignment ?? null
        ],
        target: data.singleLink.target ?? null,
        text: data.singleLink.text ?? null
      }
    } only %}

  {# -- Content Section Modul -- #}
  {% case 'bkSection' %}
    {% include '_organisms/section/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsSection.paddingVertical ?? null,
          data.settingsSection.width ?? null
        ],
        offset: data.settingsSection.offset,
        context: context
      }
    } only %}

  {# -- Definiton List Modul -- #}
  {% case 'definitionList' %}
    {% include '_modules/definitionList/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsDefinitionList.layout ?? null,
          data.settingsDefinitionList.ratio ?? null
        ],
        items: data.singleDefinitionList ?? null
      }
    } only %}

  {# -- Embed Modul -- #}
  {% case 'embed' %}
    {% include '_atoms/embed/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsEmbed.position ?? null,
          data.settingsEmbed.width ?? null
        ],
        embedCode: data.singleEmbedCode ?? null
      }
    } only %}

  {# -- Headline Modul -- #}
  {% case 'headline' %}
    {% include '_atoms/headline/_template.html' with {
      opt: {
        modifiers: [
          'cb',
        ],
        text: data.singleHeadline ?? null,
        size: data.settingsHeadline.size ?? null
      }
    } only %}

  {# -- Image Cover Modul -- #}
  {% case 'imageCover' %}
    {% include '_organisms/imageCover/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsImageCover.textColor ?? null,
          data.settingsImageCover.textAlignment ?? null,
          data.settingsImageCover.textVerticalPosition ?? null
        ],
        image: data.singleImage.first() ?? null,
        bgPosition: data.settingsImageCover.backgroundPosition ?? null,
        text: data.singleText ?? null
      }
    } only %}

  {# -- Image Gallery Modul -- #}
  {% case 'imageGallery' %}
    {% include '_organisms/imageGallery/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsImageGallery.columns ?? null
        ],
        images: data.singleImages ?? null,
        thumbsRatio: data.settingsImageGallery.thumbsRatio ?? null
      }
    } only %}

  {# -- Image Grid Modul -- #}
  {% case 'imageGrid' %}
    {% include '_organisms/imageGrid/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsImageGrid.columns ?? null
        ],
        images: data.singleImages ?? null,
        ratio: data.settingsImageGrid.ratio ?? null,
        caption: data.settingsImageGrid.caption ?? null
      }
    } only %}

  {# -- Image Single Modul -- #}
  {% case 'imageSingle' %}
    {% include '_organisms/imageSingle/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsImageSingle.alignment ?? null,
          data.settingsImageSingle.width ?? null
        ],
        image: data.singleImage.first() ?? null,
        ratio: data.settingsImageSingle.ratio ?? null,
        caption: data.settingsImageSingle.caption ?? null
      }
    } only %}


  {# -- Image Single Modul -- #}
  {% case 'image' %}
    {% include '_atoms/image/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsImageSingle.alignment ?? null,
          data.settingsImageSingle.width ?? null
        ],
        image: data.singleImage.first() ?? null,
        ratio: data.settingsImageSingle.ratio ?? null,
        caption: data.settingsImageSingle.caption ?? null
      }
    } only %}

  {# -- Image Slider Modul -- #}
  {% case 'imageSlider' %}
    {% include '_organisms/imageSlider/_template.html' with {
      opt: {
        modifiers: [
          'cb',
        ],
        images: data.singleImages ?? null,
        ratio: data.settingsImageSlider.ratio ?? null
      }
    } only %}

  {# -- Plaintext Modul -- #}
  {% case 'plainText' %}
    {% include '_atoms/plainText/_template.html' with {
      opt: {
        modifiers: [
          'cb',
        ],
        text: data.singlePlainText ?? null
      }
    } only %}

  {# -- Quote Modul -- #}
  {% case 'quote' %}
    {% include '_molecules/quote/_template.html' with {
      opt: {
        modifiers: [
          'cb',
        ],
        quote: data.singleQuote ?? null,
        source: data.singleSource ?? null,
        sourceUrl: data.singleSourceUrl ?? null
      }
    } only %}

  {# -- Rich Text Modul -- #}
  {% case 'richText' %}
    {% include '_atoms/richText/_template.html' with {
      opt: {
        modifiers: [
          'cb',
        ],
        text: data.singleRichText ?? null
      }
    } only %}

  {# -- Rich Text Modul -- #}
  {% case 'richTextMarginals' %}
    {% include '_organisms/richTextMarginals/_template.html' with {
      opt: {
        modifiers: [
          'cb',
        ],
        marginals: data.children ?? null,
        text: data.singleRichText ?? null
      }
    } only %}

  {# -- Separator Modul -- #}
  {% case 'divider' %}
    {% include '_atoms/divider/_template.html' with {
      opt: {
        modifiers: [
          'cb',
          data.settingsDivider.style ?? null,
          data.settingsDivider.marginVertical ?? null
        ]
      }
    } only %}

{% endswitch %}



