{#
  Content Builder Neo
  ======================

  Neo Content Builder use the Neo Plugin
#}

{# -- Set Defaults -- #}
{% set defaults = {
  classname: 'm-contentBuilder',
  object: entry is defined ? entry : null
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{% if options.object %}
<div class="{{ options.classname }}">
  {% if options.object.contentBuilderNeo.level(1)|length %}
    {% set neoField = options.object.contentBuilderNeo.level(1) %}

    {% for content in neoField %}
      {# Check if first Type is not a Section #}
      {% if loop.first and content.type != 'contentSection' %}
        <!-- start: o-section / opened by Content Builder -->
        {% include '_modules/contentSection/_template.html' only %}
      {% endif %}

      {# Check if an other Section is opened and close the Section before #}
      {% if content.type == 'contentSection' %}
        {% if not loop.first %}
          </div>
          <!-- end: o-section -->
        {% endif %}
        <!-- start: o-section -->
        {% include '_contentBuilders/_contentBuilderModules' with { data: content } only %}

        {# All other Content Modules #}
      {% elseif content.type != 'contentSection' %}
        <!-- start: o-row -->
        <div class="o-row  o-row--{{ content.type }}  {{ options.classname ~ '__row' }}  {{ options.classname ~ '__row--' ~ content.type }}">
          {% include '_contentBuilders/_contentBuilderModules' with { data: content } only %}
        </div>
        <!-- end: o-row -->
      {% endif %}
    {% endfor %}
    </div>
    <!-- end: o-section -->
  {% endif %}
  </div>
{% endif %}
