{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# -- News Entry Template -- #}
{# ---------------------------------------------------------------------- #}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-articleSingle" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- Rel Nav -- #}
{% block siteHeader %}
  {% include '_partials/header/_siteHeaderLinks--single.html' with {
    section: 'articles',
    order: 'postDate',
    entry: entry
  } only %}
{% endblock %}

{# -- App Content -- #}
{% block appContent %}
  {# -- Cache -- #}
  {% cache using key craft.app.request.pathInfo %}
  <article role="article">

    {% embed '_embeds/oneColumn/_template.html' with {
      opt: {
        intro: true,
        content: true
      },
      entry: entry
    } only %}

      {# -- Block: Intro -- #}
      {% block intro %}
        {# -- Include Page Title -- #}
        {% include '_molecules/pageTitle/_template.html' with {
          opt: {
            object: entry,
            size: 'h1'
          }
        } only %}

        {# -- Entry Intro -- #}
        {% if entry.entryIntroText ?? null %}
          {% include '_atoms/richText/_template.html' with {
            opt: {
              text: entry.entryIntroText
            }
          } only %}
        {% endif %}

        {# -- Image Entry -- #}
        {% if entry.entryImage.one() ?? null %}
          {% include '_atoms/headline/_template.html' with {
            opt: {
              text: 'Image Entry',
              size: 'h3'
            }
          } only %}

          {% include '_organisms/imageSingle/_template.html' with {
            opt: {
              image: entry.entryImage.one() ?? null,
              ratio: 'landscape'
            }
          } only %}
        {% endif %}
      {% endblock %}

      {# -- Block: Content -- #}
      {% block content %}
        {# -- Content Builder -- #}
        {% include '_contentBuilders/_contentBuilderMatrix.html' with {
          opt: {
            object: entry
          }
        } only %}
      {% endblock %}
    {% endembed %}
  </article>

  <div class="o-section">
    {# -- Post Nav -- #}
    {% import '_partials/macros/_macro-postNav.html' as macroPostNav %}
    {{ macroPostNav.postNav(entry, {
      section: 'articles',
      prevLabel: 'Prev Article',
      nextLabel: 'Next Article',
      prevIcon: 'iconArrowLeft',
      nextIcon: 'iconArrowRight'
    }) }}
  </div>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
