/* -------------------------------------------------- */
/*    .m-textarea
/* -------------------------------------------------- */

.m-textarea {
  $root: &;
  @include make-vr(1/2);

  &__inner {
    // empty
  }

  &__label {
    display: block;
    font-size: fs('ms-2');
    text-transform: uppercase;
    margin-bottom: s(1/2);
    border: 1px solid transparent;
    padding-right: s(1);
    padding-left: s(1);
  }

  &__input {
    appearance: none;
    outline: 0;
    display: block;
    width: 100%;
    padding: s(1);
    resize: vertical;
    min-height: 100px;
    background: c('white');
    color: c('black', '90');
    border: 1px solid c('black', '40');
    border-radius: 3px;
    margin-bottom: s(1);
    font-size: fs('ms0');
    transition: all 0.25s ease('out-cubic');

    &:focus {
      background-color: c('white');
      border-color: c('black', '80');
    }
  }

  // Placeholder Color
  ::placeholder {
    color: c('black', '20');
  }
}


