{#
    {% embed '_templates/twoColumns/_template.html' with {
      options: {
        modiefiers: ['YOUR_MODIFIER'],
        head: true,
        main: true,
        aside: true
      }
    } only %}
    {% block head %}
      …
    {% endblock %}

    {% block main %}
      …
    {% endblock %}

    {% block aside %}
      …
    {% endblock %}
  {% endembed %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  classname: 'o-twoColumns',
  modifiers: [],
  head: true,
  main: null,
  aside: null
} %}

{% if options is defined %}
  {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
  {% set options = defaults %}
{% endif %}

{# -- Modul -- #}
{% if options.main %}
  <div
    class="{{ options.classname }}{% for modifier in options.modifiers %}{{ '  ' ~ options.classname ~ '--' ~ modifier }}{% endfor %}">
    <div class="o-section">
      <div class="o-row">
        {% if options.head %}
          <div class="{{ options.classname ~ '__head' }}">
            {% block head %}
              Head…
            {% endblock %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if options.main %}
    <div class="o-section">
      <div class="o-row">
        <div class="{{ options.classname ~ '__main' }}">
          {% block main %}
            Main…
          {% endblock %}
        </div>
      </div>

      {% if options.aside %}
        <div class="o-row">
          <div class="{{ options.classname ~ '__aside' }}">
            {% block aside %}
              Aside…
            {% endblock %}
          </div>
        </div>
      {% endif %}
    </div>

    {% endif %}
  </div>
{% endif %}
