{#
    {% embed '_templates/twoColumns/_template.html' with {
      options: {
        modiefiers: ['YOUR_MODIFIER'],
        head: true,
        main: true,
        aside: true
      }
    } only %}
    {% block head %}
      …
    {% endblock %}

    {% block first %}
      …
    {% endblock %}

    {% block second %}
      …
    {% endblock %}
  {% endembed %}
#}

{# -- Set Defaults -- #}
{% set defaults = {
  classname: 'o-twoColumns',
  modifiers: [],
  head: true,
  first: null,
  second: null
} %}

{% if options is defined %}
    {% set options = options is defined ? defaults|merge(options) : defaults %}
{% else %}
    {% set options = defaults %}
{% endif %}

{# -- Modul -- #}
{% if options.first %}
  <div class="{{ options.classname }}{% for modifier in options.modifiers %}{{ '  ' ~ options.classname ~ '--' ~ modifier }}{% endfor %}">
    <div class="o-section">
      <div class="o-row">
        {% if options.head %}
          <div class="{{ options.classname ~ '__head' }}">
            <div class="o-row">
              {% block head %}
                Head…
              {% endblock %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="o-section">
      <div class="o-row">
        <div class="{{ options.classname ~ '__first' }}">
          <div class="o-row">
            {% block first %}
              First…
            {% endblock %}
          </div>
        </div>
      </div>

      <div class="o-row">
        <div class="{{ options.classname ~ '__second' }}">
          <div class="o-row">
            {% block second %}
              Second…
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
