{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  o-imageGrid
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'o-imageGrid',
  modifiers: [],
  customClasses: [],
  data: {},
  js: null,
  images: null,
  caption: null,
  ratio: null
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Modul -- #}
{% if opt.images %}
  <div class="o-row  {{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}
              {% for customClass in opt.customClasses %}
                {{ customClass | length ? '  ' ~ customClass }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'o-' : 'js-' }) : '' }}"
              {% for key, value in opt.data %}
                {{ 'data-' ~ key ~ '=' ~ value }}
              {% endfor %}>
    {% for image in opt.images.all() %}
      <div class="{{ opt.cn ~ '__item' }}">
        {% include '_molecules/figure/_template.html' with {
          opt: {
            image: image,
            ratio: opt.ratio,
            caption: opt.caption,
            captionHeadline: image.imageTitle,
            captionText: image.imageCaption,
            captionSource: image.imageSource,
            captionSourceUrl: image.imageSourceUrl
          }
        } only %}
      </div>
    {% endfor %}
  </div>
{% endif %}
