/*
 |--------------------------------------------------------------------------
 |
 | Description of what this file is for
 |
 | @package  craft3
 | @author David Hellmann [david@hellmann.io]
 | .m-quote
 |--------------------------------------------------------------------------
 */

// Modul
.m-quote {
  $root: &;
  @include make-vr();

  &__wrapper {
    @include make-row();
  }

  &__inner {
    @include make-col-padding();

    @include media('>=m') {
      @include col-offset(4, 24);
    }
  }

  &__blockquote {
    p {
      max-width: 40ch;
      font-weight: 700;
      font-style: normal;
    }
  }
}

// Modul Modifiers Example
.m-quote--modifier {
  .m-quote__block {
    // Styles here
  }

  @at-root {
    // Use this for nesting with root selector
  }
}
