{#
  Description of what this file is for

  @package  baukasten
  @author David Hellmann [davidhellmann.com@gmail.com]

  o-imageGallery
  ------------------------------------------------------------
#}

{# -- Set Defaults -- #}
{% set defaults = {
  cn: 'o-imageGallery',
  modifiers: [],
  data: {},
  js: null,
  waypoint: null,
  waypointAni: null,
  images: null,
  caption: null,
  thumbsRatio: null,
} %}

{# -- Merge Default with Options -- #}
{% set opt = opt is defined ? defaults|merge(opt) : defaults %}

{# -- Macros -- #}
{% import '_partials/macros/_macro-dominantColor.html' as macroDominantColor %}

{# -- Modul -- #}
{% if opt.images %}
  <div class="o-row  {{ opt.cn }}
              {% for modifier in opt.modifiers %}
                {{ modifier | length ? '  ' ~ opt.cn ~ '--' ~ modifier }}
              {% endfor %}  {{ opt.js ? opt.cn|replace({ 'o-' : 'js-' }) : '' }}
              {{ opt.waypointAni ? opt.waypointAni : '' }}"
              {{ opt.waypoint ? ' data-waypoint' : '' }}
              {% for key, value in opt.data %}
                {{ 'data-' ~ key ~ '=' ~ value }}
              {% endfor %} itemscope itemtype="http://schema.org/ImageGallery">
    {% for item in opt.images %}
      {# -- Image Settings -- #}
      {% set imageSettings = {
        mode: 'crop',
        position: null,
        ratio: null
      } %}

      {# -- Image -- #}
      {% set images = craft.imager.transformImage(
        item.image,
        [
          { width: 2600 },
          { width: 1600 }
        ],
        imageSettings
        )
      %}
      <figure class="{{ opt.cn ~ '__figure' }}">
        <a class="{{ opt.cn ~ '__link' }}"
           href="{{ images[0].url }}"
           itemprop="contentUrl"
           data-size="{{ images[0].width }}x{{ images[0].height }}"
           style="{{ macroDominantColor.dominantColor(item.image) }}">

          {% include '_atoms/image/_template.html' with {
            opt: {
              image: item.image,
              sizes: [
                { width: 500 },
                { width: 250 },
                { width: 125 }
              ],
              mode: 'crop',
              position: null,
              ratio: opt.thumbsRatio
            }
          } only %}
        </a>
      </figure>
    {% endfor %}
  </div>
{% endif %}