{#
  404 Template
  --------------------------------------------------

  Page not found? This template gets loaded.
#}



{% extends '_layouts/_master.html' %}
{% set bodyClass = "p-404" %}
{% if craft.seomatic is defined %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': '404 — Sorry' }) %}
{% else %}
  {% set appTitle = '404 — Sorry' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% set googleAnalytics = googleAnalytics.globalGoogleAnalytics %}
{% if googleAnalytics is defined and googleAnalytics | length %}
  {% set fourohfour %}
    ga('send', 'pageview', '/404/?url=' + document.location.pathname + document.location.search + '&ref=' + document.referrer);
  {% endset %}
{% endif %}

{% block appContent %}
  <div class="o-section">
    <div class="o-row">
      {# -- Include Page Title -- #}
      {% include '_modules/pageTitle/_template.html' with {
        options: {
          text: '404 — Page not found',
          size: 'h1'
        }
      } %}

      <p class="o-col">
        Oh no, this page is missing… Sorry!<br>
        Back to <a href="{{ siteUrl }}">Home</a>
      </p>
    </div>
  </div>
{% endblock %}
