{#
  News Entry Template
  --------------------------------------------------

  When you view a single news on the website, this template gets loaded.
#}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-forms" %}
{% if craft.seomatic is defined %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': 'Forms' }) %}
{% else %}
  {% set appTitle = 'Forms' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key craft.request.path %}

  <div class="o-section">
    <div class="o-row">

      {# -- Include Page Title -- #}
      {% include '_modules/pageTitle/_template.html' with {
        options: {
          object: entry
        }
      } only %}

    </div>
    <div class="o-row">
      <div class="o-col">
        {% for i in 1..3 %}
          {% include '_modules/radio/_template.html' with {
          options: {
          disabled: i == '2' ? true : false,
          name: 'radioGroup',
          id: 'radio-' ~ i,
          data: {
          'size': 'sizie-' ~ i,
          'gender': 'gender-' ~ i
          },
          value: 'value-' ~ i,
          label: 'Radio ' ~ i
          }
          } only %}
        {% endfor %}
      </div>

      <div class="o-col">
        {% for i in 1..3 %}
          {% include '_modules/checkbox/_template.html' with {
          options: {
          disabled: i == '2' ? true : false,
          name: 'radioGroup',
          id: 'checkbox-' ~ i,
          data: {
          'size': 'sizie-' ~ i,
          'gender': 'gender-' ~ i
          },
          value: 'value-' ~ i,
          label: 'Checkbox ' ~ i
          }
          } only %}
        {% endfor %}
      </div>
    </div>

    <div class="o-row">
      <div class="o-col">
        {% for i in 1..3 %}
          {% include '_modules/input/_template.html' with {
          options: {
          data: {
          'size': 'sizie-' ~ i,
          'gender': 'gender-' ~ i
          },
          name: 'input-' ~ i,
          id: 'id-' ~ i,
          type: 'input',
          label: 'Input ' ~ i,
          value: '',
          placeholder: 'Placeholder ' ~ i,
          }
          } only %}
        {% endfor %}
      </div>

      <div class="o-col">
        {% include '_modules/button/_template.html' with {
          options: {
            url: '#test',
            modifiers: [],
            text: 'Button',
            icon: 'social/twitter'
          }
        } only %}
      </div>
    </div>


    <div class="o-row">
      <div class="o-col">
        {% include '_modules/textarea/_template.html' with {
        options: {
        data: {
        'size': 'sizie-',
        'gender': 'gender-'
        },
        name: 'textarea',
        id: 'id',
        label: 'Textarea ',
        value: '',
        placeholder: 'Placeholder ',
        }
        } only %}
      </div>
    </div>
  </div>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
