{#
  Home Page
  --------------------------------------------------

  This is your Homepage!
#}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-home" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key 'home' ~ craft.request.path ~ (craft.request.getPageNum ? '/p' ~ craft.request.getPageNum : '') %}

  <div class="o-section">
    <div class="o-row">
      {# -- Include Page Title -- #}
      {% include '_modules/pageTitle/_template.html' with {
        options: {
          object: entry,
          size: 'h1'
        }
      } only %}
    </div>
  </div>

  <% if (projectVue) { %>
  {# -- Vue Stuff -- #}
  <div id="js-vue"></div>
  <% } %>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
