{# -- Homepage -- #}
{# ---------------------------------------------------------------------- #}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-home" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- App Content -- #}
{% block appContent %}

  {# -- Cache -- #}
  {% cache globally using key 'home' ~ craft.request.path ~ (craft.request.getPageNum ? '/p' ~ craft.request.getPageNum : '') %}

  <div class="o-section">
    <div class="o-row">
      <div class="o-col-12  o-col-s-24">
        {# -- Include Page Title -- #}
        {% include '_molecules/pageTitle/_template.html' with {
          opt: {
            object: entry,
            size: 'h1'
          }
        } only %}
      </div>
    </div>
  </div>

  {# -- Vue Stuff -- #}
  <div id="js-vue"></div>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
