{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{# -- Home -- #}
{# ---------------------------------------------------------------------- #}

{% extends "_layouts/_master.twig" %}
{% set bodyClass = "p-home" %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{# -- App Content -- #}
{% block appContent %}

  {# -- Cache -- #}
  {% cache using key 'home' ~ craft.app.request.pathInfo ~ (craft.app.request.pageNum ? '/p' ~ craft.app.request.pageNum : '') %}

  {% embed '_embeds/home/_template.twig' with {
    opt: {
      intro: true,
      content: true
    },
    entry: entry
  } only %}

    {# -- Block: Intro -- #}
    {% block intro %}
      {# -- Include Page Title -- #}
      {% include '_molecules/pageTitle/_template.twig' with {
        opt: {
          object: entry,
          size: 'h1'
        }
      } only %}
    {% endblock %}

    {# -- Block: Content -- #}
    {% block content %}
      <ul>
        <li><a href="{{ siteUrl }}articles">Articles Overview</a></li>
        <li><a href="{{ siteUrl }}article/first-article">First Article</a></li>
        {% if craft.app.plugins.isPluginEnabled('craft-gonzo') %}
          <li><a href="{{ siteUrl }}patternlib">Pattern Library</a></li>
        {% endif %}
      </ul>

      <div data-component="cards">
        <cards></cards>
      </div>

      {# -- vueComp -- #}
      {% include '_molecules/vueComp/_template.html' only %}
    {% endblock %}
  {% endembed %}

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
