{#
  News Entry Template
  --------------------------------------------------

  When you view a single news on the website, this template gets loaded.
#}

{% extends "_layouts/_master.html" %}
{% set bodyClass = "p-modules" %}
{% if craft.seomatic is defined %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': 'Content Builder' }) %}
{% else %}
  {% set appTitle = 'Content Builder' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}
  {# -- Cache -- #}
  {% cache globally using key craft.request.path %}

  <article role="article">
    <div class="o-section">
      <div class="o-row">

        {# -- Include Page Title -- #}
        {% include '_modules/pageTitle/_template.html' %}

      </div>
      <div class="o-row">
        {# -- Headline -- #}
        {% include '_modules/headline/_template.html' with {
        options: {
        text: 'Content Builder',
        size: 'h2'
        }
        } only %}

      </div>

      {% embed '_templates/toggleContent/_template.html' with {
      options: {
      contentTop: true,
      textClosed: 'Show me the Content',
      textOpen: 'Go away Content'
      }
      } %}
        {% block contentTop %}
          <p class="o-col">
            Lorem ipsum dolor sit amet, quas appetere qui te, vel ne enim putent tractatos, ullum inani et
            duo. Per placerat ocurreret te, eos diceret accumsan in? Qui no viderer vivendum facilisi, pro
            illud possim legimus at. Illum sonet numquam id vis. Ei accumsan nominati eos? Nam suas admodum
            ancillae ne? Nullam noster scribentur per cu, te duis consetetur adipiscing pri? Mollis
            deseruisse te mei. Cu euismod singulis suavitate eam. Ex eos purto similique, an eum fabellas
            adolescens! Dolor signiferumque cum id. Dicunt cetero detracto mea ei? Ex dico dolor vis,
            splendide vituperatoribus cu usu, ei mea posse sonet labores! Ad duo veritus intellegam, alterum
            appellantur vix et. Vis dissentiet repudiandae eu, decore integre principes per ei. Id vim stet
            mentitum repudiandae, pri mentitum qualisque ea, ex usu augue viderer suscipit. Ea vel mucius
            graecis, mentitum perfecto eu duo, duo eu ipsum urbanitas. Eruditi recteque abhorreant ius et,
            omnes dolore debitis vel ei? An inani copiosae nec, audiam sanctus nostrum est ea? Assum iuvaret
            mea id.

            An populo iriure interesset sit! Eum quas zril nostrum ei. Est no esse illum, falli doming vix
            no? No pri causae petentium! Id vocibus volutpat deterruisset usu, vocibus verterem sed ne, usu
            ne similique temporibus! Ex vix dicat discere partiendo, at ignota corpora mei, posse percipitur
            mea ut. At doming commodo deseruisse sit, eu diceret fabulas eligendi vix, sea nostrum
            scriptorem ad! Quo cu eius tollit instructior.
          </p>
        {% endblock %}
      {% endembed %}
    </div>



    {# Content Builder #}
    {% include '_contentBuilders/_contentBuilderNeo.html' %}
  </article>

  {# -- Cache End -- #}
  {% endcache %}
{% endblock %}
