/*
 |--------------------------------------------------------------------------
 |  o-appHeader
 |--------------------------------------------------------------------------
 */

// Modul
.o-appHeader {
  $root: &;
  width: 100%;
  height: 80px;
  padding-left: s(2);
  padding-right: s(2);
  background-color: c('black', '05');
  display: grid;
}

// Modul Modifiers Example
.o-appHeader--modifier {
  .o-appHeader__block {
    // Styles here
  }
}
