{% if not craft.config.devMode %}
  {% if not currentUser and not currentUser.admin %}
    {% redirect "/" %}
  {% endif %}
{% endif %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'DEV Index',
    url: '/dev/index.html'
  }
} only %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'Modules Library',
    url: '/dev/modules-library.html'
  }
} only %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'Modules Status',
    url: '/dev/modules-status.html'
  }
} only %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'Modules CB',
    url: '/dev/modules-content-builder'
  }
} only %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'Modules CB Nested',
    url: '/dev/modules-content-builder-nested'
  }
} only %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'Typo',
    url: '/dev/typo.html'
  }
} only %}

{# -- link -- #}
{%- include '_atoms/link/_template.html' with {
  opt: {
    text: 'Forms',
    url: '/dev/forms.html'
  }
} only %}