{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{% if not craft.app.config.general.devMode %}
  {% if not currentUser and not currentUser.admin %}
    {% redirect "/" %}
  {% endif %}
{% endif %}
<div class="buttons">
  <button class="dev-button  js-dev-mobile">Mobile</button>
  <button class="dev-button  js-dev-tablet">Tablet</button>
  <button class="dev-button  js-dev-desktop">Desktop</button>
  <button class="dev-button  js-dev-fullwidth">Full Width</button>
  <button class="dev-button  js-dev-lightswitch" data-dark="Dark" data-light="Light">Dark</button>
</div>

<div class="nav">
  {# -- link -- #}
  {%- include '_atoms/link/_template.html' with {
    opt: {
      text: 'Typo',
      url:  siteUrl ~ 'dev/typo'
    }
  } only %}

  {# -- link -- #}
  {%- include '_atoms/link/_template.html' with {
    opt: {
      text: 'Modules Library',
      url:  siteUrl ~ 'dev/modules-library'
    }
  } only %}

{#  #}{# -- link -- #}{#
  {%- include '_atoms/link/_template.html' with {
    opt: {
      text: 'Modules Status',
      url: '/dev/modules-status.html'
    }
  } only %}#}

  {# -- link -- #}
{#  {%- include '_atoms/link/_template.html' with {
    opt: {
      text: 'Modules CB',
      url: '/dev/modules-content-builder'
    }
  } only %}#}

  {# -- link -- #}
{#  {%- include '_atoms/link/_template.html' with {
    opt: {
      text: 'Modules CB Nested',
      url: '/dev/modules-content-builder-nested'
    }
  } only %}#}

  {# -- link -- #}
  {%- include '_atoms/link/_template.html' with {
    opt: {
      text: 'Forms',
      url:  siteUrl ~ 'dev/forms'
    }
  } only %}

</div>
