{#
  News Entry Template
  ------------------------------------------------------------

  When you view a single news on the website, this template gets loaded.
#}

{% extends "_layouts/_dev.twig" %}
{% set bodyClass = "p-development p-forms" %}
{% if seomaticSiteMeta ?? null %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': 'DEV: Forms' }) %}
{% else %}
  {% set appTitle = 'DEV: Forms' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}

  <div class="o-section">
    <div class="o-row">
      <div class="o-col-36  o-col-m-84">
        {# -- headline -- #}
        {%- include '_atoms/headline/_template.twig' with {
          opt: {
            text: 'DEV: Forms',
            size: 'h1'
          }
        } only %}

        {# -- Nav -- #}
        {% include 'dev/_nav.twig' %}

      </div>
    </div>
    <div class="o-row">
      <div class="o-col">
        {% for i in 1..3 %}
          {% include '_atoms/radio/_template.twig' with {
          options: {
          disabled: i == '2' ? true : false,
          name: 'radioGroup',
          id: 'radio-' ~ i,
          data: {
          'size': 'sizie-' ~ i,
          'gender': 'gender-' ~ i
          },
          value: 'value-' ~ i,
          label: 'Radio ' ~ i
          }
          } only %}
        {% endfor %}
      </div>

      <div class="o-col">
        {% for i in 1..3 %}
          {% include '_atoms/checkbox/_template.twig' with {
          options: {
          disabled: i == '2' ? true : false,
          name: 'radioGroup',
          id: 'checkbox-' ~ i,
          data: {
          'size': 'sizie-' ~ i,
          'gender': 'gender-' ~ i
          },
          value: 'value-' ~ i,
          label: 'Checkbox ' ~ i
          }
          } only %}
        {% endfor %}
      </div>
    </div>

    <div class="o-row">
      <div class="o-col">
        {% for i in 1..3 %}
          {% include '_atoms/input/_template.twig' with {
          options: {
          data: {
          'size': 'sizie-' ~ i,
          'gender': 'gender-' ~ i
          },
          name: 'input-' ~ i,
          id: 'id-' ~ i,
          type: 'input',
          label: 'Input ' ~ i,
          value: '',
          placeholder: 'Placeholder ' ~ i,
          }
          } only %}
        {% endfor %}
      </div>

      <div class="o-col">
        {% include '_atoms/button/_template.twig' with {
          options: {
            url: '#test',
            modifiers: [],
            text: 'Button',
            icon: 'social/twitter'
          }
        } only %}
      </div>
    </div>


    <div class="o-row">
      <div class="o-col">
        {% include '_atoms/textarea/_template.twig' with {
        options: {
        data: {
        'size': 'sizie-',
        'gender': 'gender-'
        },
        name: 'textarea',
        id: 'id',
        label: 'Textarea ',
        value: '',
        placeholder: 'Placeholder ',
        }
        } only %}
      </div>
    </div>
  </div>
{% endblock %}
