{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
{#
  Module Library
  ------------------------------------------------------------
#}

{% extends "_layouts/_dev.html" %}
{% set bodyClass = "p-development" %}
{% if seomaticSiteMeta ?? null %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': 'DEV: Modules Status' }) %}
{% else %}
  {% set appTitle = 'DEV: Modules Status' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}

<div class="o-section">
  <div class="o-row">
    <div class="o-col-36  o-col-m-84">
      {# -- headline -- #}
      {%- include '_atoms/headline/_template.html' with {
        opt: {
          text: 'DEV: Modules Status',
          size: 'h1'
        }
      } only %}

      {# -- Nav -- #}
      {% include 'dev/_nav.html' %}

      {% set modules = craft.FmContentKing.getContent %}
      {% set cn = 't-devPages' %}
      {% spaceless %}
      {% if modules ?? null %}
      <div class="{{ cn }}">
        {# -- headline -- #}
        {%- include '_atoms/headline/_template.html' with {
          opt: {
            text: 'Modules',
            size: 'h2'
          }
        } only %}
        <div class="{{ cn ~ '__statusList' }}">
          {% for module in modules | sort if module.status ?? null and module.status != 'Skipped' %}

          <div class="{{ cn ~ '__statusListItem' }}"
               id="{{ 'module-' ~ module.title | replace({ ' ': '' }) }}">

            {% set color = '#000' %}
            {% if module.status == 'Ready' %}
              {% set color = '#109F00' %}
            {% elseif module.status == 'WIP' %}
              {% set color = '#FFAB00' %}
            {% elseif module.status == 'Skipped' %}
              {% set color = '#E20000' %}
            {% elseif module.status == 'Prototype' %}
              {% set color = '#0048FF' %}
            {% endif %}

            <input class="{{ cn ~ '__statusListCheckbox' }}" type="checkbox" id="{{ 'module-' ~ loop.index }}">
            <label class="{{ cn ~ '__statusListLabel' }}" for="{{ 'module-' ~ loop.index }}">
              <div class="{{ cn ~ '__statusListNumber' }}">
                {{- "%03d"|format(loop.index) -}}
              </div>

              {% if module.title ?? null %}
                <div class="{{ cn ~ '__statusListName' }}">
                  {{- module.title -}}
                </div>
              {% endif %}

              {% if module.type ?? null %}
                <div class="{{ cn ~ '__statusListType' }}">
                  {{- module.type -}}
                </div>
              {% endif %}

              {% if module.status ?? null %}
                <div class="{{ cn ~ '__statusListStatus' }}"
                     style="color: {{ color }};">
                  {{- module.status -}}
                </div>
              {% endif %}
            </label>

            <div class="{{ cn ~ '__statusListContent' }}">
              {% if module.description ?? null %}
                <h6 class="tab">{{ module.title }} Description</h6>
                <p class="content  description">{{ module.description }}</p>
              {% endif %}

              {% if module.notes ?? null %}
                <h6 class="tab">{{ module.title }} Notes</h6>
                <p class="content notes">{{ module.notes }}</p>
              {% endif %}

              {% if module.path ?? null %}
              <h6 class="tab lower">_template.html</h6>
              <div class="content">
                {%- set code -%}
                  {{- source(module.path ~ '_template.html', ignore_missing = true) -}}
                {%- endset -%}

                {# -- code -- #}
                {% include '_atoms/code/_template.html' with {
                  opt: {
                    code: code,
                    lang: 'twig',
                    open: false
                  }
                } only %}
              </div>

              <h6 class="tab lower">_style.scss</h6>
              <div class="content">
                {%- set code -%}
                  {{- source(module.path ~ '_style.scss', ignore_missing = true) -}}
                {%- endset -%}

                {# -- code -- #}
                {% include '_atoms/code/_template.html' with {
                  opt: {
                    code: code,
                    lang: 'scss',
                    open: false
                  }
                } only %}
              </div>

              <h6 class="tab lower">_script.js</h6>
              <div class="content">
                {%- set code -%}
                  {{- source(module.path ~ '_script.js', ignore_missing = true) -}}
                {%- endset -%}

                {# -- code -- #}
                {% include '_atoms/code/_template.html' with {
                  opt: {
                    code: code,
                    lang: 'js',
                    open: false
                  }
                } only %}
              </div>

              <h6 class="tab lower">config.json</h6>
              <div class="content">
                {%- set code -%}
                  {{- source(module.path ~ 'config.json', ignore_missing = true) -}}
                {%- endset -%}

                {# -- code -- #}
                {% include '_atoms/code/_template.html' with {
                  opt: {
                    code: code,
                    lang: 'json',
                    open: false
                  }
                } only %}
              </div>
              {% endif %}
            </div>


          </div>
          {% endfor %}
        </div>
      </div>

      {# -- headline -- #}
      {%- include '_atoms/headline/_template.html' with {
        opt: {
          text: 'Skipped Modules',
          size: 'h3'
        }
      } only %}
      <div class="{{ cn ~ '__statusList' }}">
        {% for module in modules | sort if module.status ?? null and module.status == 'Skipped' %}
          <div class="{{ cn ~ '__statusListItem' }}  {{ cn ~ '__statusListItem--disabled' }}"
               id="{{ 'module-' ~ module.title | replace({ ' ': '' }) }}">
            {% if module.status == 'Skipped' %}
              {% set color = '#E20000' %}
            {% endif %}

            <label class="{{ cn ~ '__statusListLabel' }}  {{ cn ~ '__statusListLabel--disabled' }}"
                   for="{{ 'skipped-module-' ~ loop.index }}">
              <div class="{{ cn ~ '__statusListNumber' }}">
                {{- "%03d"|format(loop.index) -}}
              </div>

              {% if module.title ?? null %}
                <div class="{{ cn ~ '__statusListName' }}">
                  {{- module.title -}}
                </div>
              {% endif %}

              {% if module.type ?? null %}
                <div class="{{ cn ~ '__statusListType' }}">
                  {{- module.type -}}
                </div>
              {% endif %}

              {% if module.status ?? null %}
                <div class="{{ cn ~ '__statusListStatus' }}"
                     style="color: {{ color }};">
                  {{- module.status -}}
                </div>
              {% endif %}
            </label>
          </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endspaceless %}
    </div>
  </div>
</div>
{% endblock %}
