{#
  Module Library
  ------------------------------------------------------------
#}

{% extends "_layouts/_dev.twig" %}
{% set bodyClass = "p-development  t-devPages" %}
{% if seomaticSiteMeta ?? null %}
  {% set seomaticMeta = seomaticMeta | merge({'seoTitle': 'DEV: Modules Library' }) %}
{% else %}
  {% set appTitle = 'DEV: Modules Library' %}
{% endif %}

{# -- CRITICAL CSS -- #}
{% block appInlineCSS %}
  <style>
    {{ source (_self ~ '_critical.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block appContent %}


  {# -- Nav -- #}
  {% include 'dev/_nav.twig' %}

  {# -- BLOCK -- #}
  <div class="section">
    <div class="label">Headline</div>
    {# -- headline -- #}
    {% include '_atoms/headline/_template.twig' with {
      opt: {
        text: 'Visit the green and glowing world of Amina Stella Steiner',
        size: 'h1'
      }
    } only %}
  </div>
  {# -- BLOCK END -- #}

  {# -- BLOCK -- #}
  <div class="section">
    <div class="label">Headline + Subline</div>
    {# -- headline -- #}
    {% include '_atoms/headline/_template.twig' with {
      opt: {
        text: 'Visit the green and glowing world of Amina Stella Steiner',
        size: 'h1'
      }
    } only %}

    {# -- Subline -- #}
    {% include '_atoms/subline/_template.twig' with {
      opt: {
        text: 'Visit the green and glowing world of Amina Stella Steiner',
        size: 'h4'
      }
    } only %}
  </div>
  {# -- BLOCK END -- #}

  {# -- BLOCK -- #}
  <div class="section">
    <div class="label">Links</div>
    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'inline'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}

    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'light'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}

    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'dark'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}

    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'cta'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}

    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'border-light'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}

    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'border-inactive'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}

    {# -- link -- #}
    {% include '_atoms/link/_template.twig' with {
      opt: {
        modifiers: [
          'border-active'
        ],
        url: siteUrl,
        text: 'Men\'s glasses'
      }
    } only %}
  </div>
  {# -- BLOCK END -- #}


  {# -- Logic -- #}
  {% include 'dev/_logic.twig' %}
{% endblock %}
