/*
 |--------------------------------------------------------------------------
 |  a-svgIcon
 |--------------------------------------------------------------------------
 */

// Modul
.a-svgIcon {
  $root: &;

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

// Modul Modifiers Example
.a-svgIcon--32 {
  .a-svgIcon__icon {
    width: 32px;
    height: 32px;
  }
}

.a-svgIcon--48 {
  .a-svgIcon__icon {
    width: 48px;
    height: 48px;
  }
}

.a-svgIcon--64 {
  .a-svgIcon__icon {
    width: 64px;
    height: 64px;
  }
}

.a-svgIcon--96 {
  .a-svgIcon__icon {
    width: 96px;
    height: 96px;
  }
}
